/ {
	amba_pl: amba_pl {
		ranges;
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		firmware-name = "vck190_modern.pdi";
		misc_clk_0: misc_clk_0 {
			compatible = "fixed-clock";
			clock-frequency = <250000000>;
			#clock-cells = <0>;
		};
		qdma_0: axi-pcie@80000000 {
			xlnx,num-vfs-pf3 = <4>;
			xlnx,dbg-en = "DEBUG_NONE";
			xlnx,pf0-bar1-control = <0x0>;
			xlnx,pf3-bar6-control = <0x0>;
			reg = <0x0 0x80000000 0x0 0x10000000 0x0 0xa8000000 0x0 0x8000000 0x00000004 0x00000000 0x0 0x10000000>;
			xlnx,pf1-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf0-sriov-bar3-control = <0x0>;
			xlnx,pf2-sriov-bar2-scale = "Kilobytes";
			xlnx,pf2-bar1-type-qdma = "AXI_Bridge_Master";
			xlnx,dma-2rp;
			xlnx,pf2-sriov-bar3-type = "AXI_Bridge_Master";
			xlnx,pf3-bar0-prefetchable-qdma;
			xlnx,pf3-bar4-size-qdma = <128>;
			xlnx,select-quad = "GTH_Quad_128";
			xlnx,pf2-sriov-bar0-type = "AXI_Bridge_Master";
			xlnx,pf1-class-code-qdma = "060A00";
			xlnx,pf1-msix-cap-pba-offset-qdma = <34000>;
			xlnx,sys-rst-n-board-interface = "Custom";
			xlnx,ats-cap-nextptr = <0x0>;
			xlnx,pf3-sriov-bar3-control = <0x0>;
			xlnx,coreclk-freq = <500>;
			xlnx,pf2-bar1-scale-qdma = "Megabytes";
			xlnx,pf2-sriov-bar1-scale = "Kilobytes";
			xlnx,example-design-type = "RTL";
			xlnx,pf0-expansion-rom-size-qdma = <4>;
			xlnx,pf1-bar0-prefetchable-qdma;
			xlnx,pf2-bar6-control = <0x0>;
			xlnx,en-bridge-slv;
			xlnx,pf3-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf0-bar3-aperture-size = <0x0>;
			xlnx,pf0-msi-cap-multimsgcap = <0>;
			xlnx,usr-irq-exdes;
			xlnx,pf1-msix-cap-pba-offset = <00010050>;
			xlnx,timeout-mult = <0x3>;
			xlnx,pf2-sriov-bar0-scale = "Kilobytes";
			xlnx,pf0-bar0-enabled-qdma;
			xlnx,pf1-msix-cap-pba-bir = "BAR_0";
			xlnx,pf3-bar3-aperture-size = <00000000>;
			xlnx,pf1-vendor-id = <0x10ee>;
			xlnx,minimal-dma-en;
			xlnx,msix-impl-ext;
			clock-names = "user_clk_sd";
			xlnx,vfg0-msix-cap-table-size-qdma = <000>;
			xlnx,pf2-bar2-scale-qdma = "Kilobytes";
			xlnx,pf1-sriov-bar4-type = "AXI_Bridge_Master";
			xlnx,pf2-bar2-size-qdma = <4>;
			xlnx,pf1-bar6-control = <0x0>;
			xlnx,pf2-bar0-64bit-qdma;
			xlnx,pf1-sriov-bar1-type = "AXI_Bridge_Master";
			xlnx,pf2-rbar-num = <1>;
			xlnx,pf2-sriov-bar1-control = <0x0>;
			xlnx,rx-ssc-ppm = <0>;
			xlnx,pcie-board-interface = "Custom";
			xlnx,vdm-en;
			xlnx,ref-clk-freq = <0>;
			xlnx,pf1-msi-cap-multimsgcap = "1_vector";
			xlnx,pf0-msix-cap-pba-offset-qdma = <34000>;
			xlnx,pf2-bar3-scale-qdma = "Kilobytes";
			xlnx,wrb-coal-loop-fix-disable = <0>;
			xlnx,pf0-bar6-control = <0x0>;
			xlnx,csr-axilite-slave;
			xlnx,pf3-sriov-bar5-size = <4>;
			xlnx,pf1-sriov-first-vf-offset = <4>;
			xlnx,pf3-bar2-type-qdma = "AXI_Lite_Master";
			xlnx,pf3-sriov-bar2-size = <4>;
			xlnx,xdma-aperture-size = <0x12>;
			xlnx,pf1-bar0-size-qdma = <2>;
			xlnx,pf0-sriov-bar5-type = "AXI_Bridge_Master";
			xlnx,num-queues = <512>;
			status = "okay";
			xlnx,pf0-subsystem-vendor-id = <0x10ee>;
			xlnx,pf1-msix-cap-table-offset-qdma = <30000>;
			xlnx,pcie-extended-tag;
			xlnx,pf0-sriov-func-dep-link = <0000>;
			xlnx,pf0-sriov-bar2-type = "AXI_Lite_Master";
			xlnx,pf2-msi-cap-multimsgcap = "1_vector";
			xlnx,pf2-bar4-scale-qdma = "Kilobytes";
			xlnx,barlite-msix-pf0 = <000000>;
			xlnx,barlite-msix-pf1 = <000000>;
			xlnx,pf2-bar6-aperture-size = <00000000>;
			xlnx,barlite-msix-pf2 = <000000>;
			xlnx,barlite-msix-pf3 = <000000>;
			xlnx,pf3-addr-mask = <0x0>;
			xlnx,bar5-indicator = <0>;
			xlnx,pf3-revision-id = <0x0>;
			xlnx,pf2-bar1-aperture-size = <00000000>;
			xlnx,vfg1-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,enable-jtag-dbg;
			xlnx,en-bridge;
			xlnx,msix-int-table-en = <0>;
			xlnx,pf2-bar0-type-qdma = "AXI_Bridge_Master";
			xlnx,shared-logic = <0>;
			xlnx,split-dma;
			xlnx,pf2-bar5-scale-qdma = "Kilobytes";
			xlnx,pf2-sriov-bar3-size = <4>;
			xlnx,xdma-num-pcie-tag = <256>;
			xlnx,pf3-bar3-size-qdma = <128>;
			xlnx,pf1-subsystem-vendor-id = <0x10ee>;
			xlnx,ccix-dvsec;
			xlnx,pf1-sriov-func-dep-link = <0001>;
			xlnx,pf3-bar0-control = <0x0>;
			xlnx,xdma-en;
			xlnx,pf2-sriov-bar0-size = <4>;
			xlnx,pf3-msi-cap-multimsgcap = "1_vector";
			xlnx,vfg2-msix-cap-table-offset-qdma = <4000>;
			xlnx,pf2-sriov-bar2-prefetchable;
			xlnx,pf0-class-code-interface-qdma = <00>;
			xlnx,pf2-rbar-cap-bar0 = <0xfff0>;
			xlnx,axi-vip-in-exdes;
			xlnx,pf1-sriov-cap-initial-vf = <4>;
			xlnx,pf2-rbar-cap-bar1 = <0x0>;
			xlnx,pf2-rbar-cap-bar2 = <0x0>;
			xlnx,barlite-mb-pf0 = <0>;
			xlnx,pf2-rbar-cap-bar3 = <0x0>;
			xlnx,barlite-mb-pf1 = <0>;
			xlnx,pf2-rbar-cap-bar4 = <0x0>;
			xlnx,barlite-mb-pf2 = <0>;
			xlnx,axibar-0 = <0xa8000000>;
			xlnx,pf2-rbar-cap-bar5 = <0x0>;
			xlnx,barlite-mb-pf3 = <0>;
			xlnx,axibar-1 = <0x0>;
			xlnx,pf2-base-class-menu-qdma = "Bridge_device";
			xlnx,axibar-2 = <0x0>;
			xlnx,axilite-master-scale = "Megabytes";
			xlnx,axibar-3 = <0x0>;
			xlnx,xdma-dsc-bypass;
			xlnx,include-baroffset-reg = <0x1>;
			xlnx,axibar-4 = <0x0>;
			xlnx,axibar-5 = <0x0>;
			xlnx,pf1-sriov-bar2-64bit;
			xlnx,pf1-class-code-base-qdma = <06>;
			xlnx,axist-bypass-aperture-size = <0x0>;
			xlnx,tl-legacy-mode-enable;
			xlnx,pf2-bar0-control = <0x0>;
			xlnx,pf2-sub-class-interface-menu-qdma = "InfiniBand_to_PCI_host_bridge";
			xlnx,pf0-vendor-id = <0x10ee>;
			xlnx,pf3-bar0-enabled-qdma;
			xlnx,legacy-cfg-ext-if;
			xlnx,pf1-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf0-vf-bar3-aperture-size = <00000000>;
			xlnx,pf2-subsystem-vendor-id = <0x10ee>;
			xlnx,pf2-sriov-func-dep-link = <0002>;
			xlnx,pf1-sriov-bar2-enabled;
			xlnx,pf1-sriov-bar4-control = <0x0>;
			xlnx,pf2-bar1-size-qdma = <128>;
			xlnx,pf1-sriov-bar4-size = <4>;
			xlnx,pf1-vf-bar6-aperture-size = <0x0>;
			xlnx,pf2-class-code-interface-qdma = <00>;
			xlnx,pf1-bar4-aperture-size = <00000000>;
			xlnx,pf1-sriov-bar1-size = <4>;
			xlnx,enable-resource-reduction;
			xlnx,cfg-mgmt-if;
			xlnx,parity-settings = "None";
			xlnx,pf1-bar0-control = <0x0>;
			xlnx,pf1-sriov-bar0-64bit;
			xlnx,pf1-vf-bar1-aperture-size = <00000000>;
			xlnx,pf2-sriov-bar0-prefetchable;
			xlnx,pf2-vf-bar4-aperture-size = <00000000>;
			xlnx,pf0-msix-cap-table-offset = <00000000>;
			xlnx,cmp-col-reg-0 = <1>;
			xlnx,cmp-col-reg-1 = <0>;
			xlnx,cmp-col-reg-2 = <0>;
			xlnx,vfg2-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,cmp-col-reg-3 = <0>;
			xlnx,cmp-col-reg-4 = <0>;
			xlnx,cmp-col-reg-5 = <0>;
			xlnx,msix-type = "HARD";
			xlnx,cmp-col-reg-6 = <0>;
			xlnx,pf3-subsystem-vendor-id = <0x10ee>;
			xlnx,cmp-col-reg-7 = <0>;
			xlnx,pf0-msix-cap-table-size = <000>;
			xlnx,pf3-vf-bar2-aperture-size = <00000000>;
			xlnx,pf3-sriov-func-dep-link = <0003>;
			xlnx,sriov-en = <0>;
			xlnx,pf3-bar1-type-qdma = "AXI_Bridge_Master";
			xlnx,soft-nic-bridge;
			xlnx,pf3-expansion-rom-type-qdma = "Expansion_ROM";
			xlnx,pf0-bar0-control = <0x7>;
			xlnx,pf3-bar5-control = <0x0>;
			xlnx,pf0-sriov-bar0-enabled;
			xlnx,pf0-sriov-bar2-control = <0x7>;
			xlnx,pf0-sriov-bar5-size = <4>;
			xlnx,pciebar2axibar-xdma = <0x0>;
			xlnx,sim-model;
			xlnx,bar-indicator = "BAR_0";
			xlnx,gtwiz-in-core = <1>;
			xlnx,pf0-sriov-bar2-size = <4>;
			xlnx,pf3-sriov-bar0-enabled;
			xlnx,pf3-sriov-bar2-control = <0x0>;
			xlnx,pcie-blk-type = <1>;
			xlnx,vu9p-board;
			xlnx,pf2-addr-mask = <0x0>;
			xlnx,dma-en = <0>;
			xlnx,bar4-indicator = <0>;
			xlnx,pf0-bar5-type-qdma = "AXI_Bridge_Master";
			xlnx,pf0-msix-cap-table-bir = "BAR_0";
			xlnx,pf0-vc-cap-enabled;
			xlnx,pf2-bar5-control = <0x0>;
			xlnx,pf3-interrupt-pin = <001>;
			xlnx,pf1-msix-cap-table-size = <020>;
			xlnx,csr-slcr = <0x90000000>;
			xlnx,pf3-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf3-pciebar2axibar-0 = <0x0>;
			xlnx,pf3-pciebar2axibar-1 = <0x30000000>;
			xlnx,dsc-byp-mode = "NONE";
			xlnx,pf3-pciebar2axibar-2 = <0x30000000>;
			xlnx,pf3-bar2-size-qdma = <4>;
			xlnx,pf3-pciebar2axibar-3 = <0x0>;
			xlnx,pf3-pciebar2axibar-4 = <0x0>;
			xlnx,pf0-bar2-aperture-size = <0x0>;
			xlnx,pf3-pciebar2axibar-5 = <0x0>;
			xlnx,pf3-pciebar2axibar-6 = <0000000000000000000000000000000000000000000000000000000000000000>;
			xlnx,pf1-bar5-control = <0x0>;
			xlnx,pf2-sriov-bar0-control = <0x0>;
			xlnx,pf3-bar2-aperture-size = <00000000>;
			xlnx,pciebar2axibar-0 = <0x0>;
			xlnx,pciebar2axibar-1 = <0x0>;
			xlnx,pciebar2axibar-2 = <0x0>;
			xlnx,pciebar2axibar-3 = <0x0>;
			xlnx,pciebar2axibar-4 = <0x0>;
			xlnx,pf3-device-id = <0xb3b4>;
			xlnx,pciebar2axibar-5 = <0x0>;
			xlnx,pciebar2axibar-6 = <0000000000000000000000000000000000000000000000000000000000000000>;
			xlnx,pf0-sriov-bar2-prefetchable;
			xlnx,xdma-axist-bypass;
			xlnx,xdma-rnum-rids = <32>;
			xlnx,pf0-bar5-control = <0x0>;
			xlnx,pf3-msix-cap-table-size-qdma = <000>;
			xlnx,en-axi-slave-if;
			xlnx,pf2-bar0-size-qdma = <2>;
			xlnx,pf3-class-code-qdma = "060A00";
			xlnx,sriov-first-vf-offset = <1>;
			xlnx,pf0-bar5-index = <7>;
			xlnx,h2c-num-chnl = <4>;
			xlnx,dma-mm = <0>;
			xlnx,axi-addr-width = <64>;
			xlnx,s-axi-num-read = <8>;
			xlnx,egw-is-parent-ip = <1>;
			xlnx,async-clk-enable;
			xlnx,pf0-bar4-index = <7>;
			xlnx,comp-timeout = <1>;
			xlnx,xdma-control = <0x4>;
			xlnx,rx-detect = <0>;
			xlnx,pf0-sriov-bar0-prefetchable;
			xlnx,pf3-bar0-type-qdma = "AXI_Bridge_Master";
			xlnx,pf3-sriov-first-vf-offset = <10>;
			xlnx,pf1-bar5-index = <7>;
			xlnx,use-standard-interfaces;
			xlnx,pf2-bar5-aperture-size = <00000000>;
			xlnx,en-axi-st-qdma;
			xlnx,pf3-sriov-bar4-type = "AXI_Bridge_Master";
			xlnx,pcie-id-if;
			xlnx,pf0-bar3-index = <7>;
			xlnx,pf0-sub-class-interface-menu-qdma = "PCI_to_PCI_bridge";
			xlnx,pf3-sriov-bar1-type = "AXI_Bridge_Master";
			xlnx,pf2-sriov-bar5-control = <0x0>;
			xlnx,enable-pcie-debug-ports;
			xlnx,func-mode = <0>;
			xlnx,num-of-bars = <0x2>;
			xlnx,pf2-bar0-aperture-size = <00000000>;
			reg-names = "cfg" , "breg";
			xlnx,xlnx-ref-board = "VCK190";
			xlnx,dma-reset-source-sel = <0>;
			#interrupt-cells = <1>;
			xlnx,pf1-bar4-index = <7>;
			xlnx,pl-link-cap-max-link-width = <4>;
			xlnx,pf1-expansion-rom-type-qdma = "Expansion_ROM";
			xlnx,pf2-msix-cap-table-size-qdma = <000>;
			xlnx,vcu118-board;
			xlnx,pf0-sriov-vf-device-id = "C034";
			xlnx,pf0-bar2-index = <7>;
			xlnx,pf1-addr-mask = <0x0>;
			xlnx,bar3-indicator = <0>;
			xlnx,silicon-rev = "Pre-Production";
			xlnx,mhost-en;
			xlnx,pf0-bar4-type-qdma = "AXI_Bridge_Master";
			xlnx,pf2-bar5-index = <7>;
			xlnx,xdma-wnum-rids = <32>;
			xlnx,cmp-err-reg-0 = <2>;
			xlnx,cmp-err-reg-1 = <0>;
			xlnx,pf0-pciebar2axibar-0 = <0x0>;
			xlnx,cmp-err-reg-2 = <0>;
			xlnx,pf0-pciebar2axibar-1 = <0x0>;
			xlnx,pf3-sriov-vf-device-id = "C344";
			xlnx,cmp-err-reg-3 = <0>;
			xlnx,pf0-pciebar2axibar-2 = <0x0>;
			xlnx,pf1-bar3-index = <7>;
			xlnx,cmp-err-reg-4 = <0>;
			xlnx,pf0-pciebar2axibar-3 = <0x0>;
			xlnx,cmp-err-reg-5 = <0>;
			xlnx,pf0-pciebar2axibar-4 = <0x0>;
			xlnx,pf1-sriov-bar5-scale = "Kilobytes";
			xlnx,cmp-err-reg-6 = <0>;
			xlnx,pf0-pciebar2axibar-5 = <0x0>;
			xlnx,cmp-err-reg-7 = <0>;
			xlnx,pf0-pciebar2axibar-6 = <0x0>;
			xlnx,pf0-bar1-index = <7>;
			xlnx,pf1-rbar-cap-bar0 = <0xfff0>;
			xlnx,pf1-rbar-cap-bar1 = <0x0>;
			xlnx,pf1-rbar-cap-bar2 = <0x0>;
			xlnx,pf1-rbar-cap-bar3 = <0x0>;
			xlnx,pf1-rbar-cap-bar4 = <0x0>;
			xlnx,pf1-rbar-cap-bar5 = <0x0>;
			xlnx,pf2-bar4-index = <7>;
			xlnx,pf3-bar1-size-qdma = <128>;
			xlnx,dma-st = <0>;
			xlnx,pf2-sriov-bar5-type = "AXI_Bridge_Master";
			xlnx,pf3-expansion-rom-size-qdma = <4>;
			xlnx,pf1-bar2-index = <7>;
			xlnx,tl-pf-enable-reg = <1>;
			xlnx,pf1-sriov-bar3-control = <0x0>;
			xlnx,pf1-sriov-bar4-scale = "Kilobytes";
			xlnx,pf2-sriov-bar2-type = "AXI_Lite_Master";
			xlnx,pf0-bar0-index = <0>;
			xlnx,pf3-bar5-index = <7>;
			xlnx,xdma-axi-intf-mm = <1>;
			xlnx,copy-pf0;
			xlnx,rq-seq-num-ignore = <0>;
			xlnx,axisten-freq = <250>;
			xlnx,enable-code = <0000>;
			xlnx,pf2-bar3-index = <7>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,cfg-space-enable;
			xlnx,gen4-eieos-0s7;
			xlnx,pf1-bar1-index = <7>;
			xlnx,pf2-device-id = <0xb2b4>;
			xlnx,vendor-id = "10EE";
			xlnx,pf0-vf-bar2-aperture-size = <00000000>;
			xlnx,axilite-master-size = <1>;
			xlnx,gt-available = "GTY_QUAD_X1Y2,GTY_QUAD_X1Y3,GTY_QUAD_X1Y4,GTY_QUAD_X1Y5,GTY_QUAD_X1Y6";
			xlnx,pf1-sriov-bar3-scale = "Kilobytes";
			xlnx,port-type = <0x1>;
			xlnx,pf1-vf-bar5-aperture-size = <00000000>;
			xlnx,pf3-bar4-index = <7>;
			xlnx,pf0-bar5-size-qdma = <128>;
			xlnx,pf1-bar3-aperture-size = <00000000>;
			xlnx,pf2-bar2-index = <7>;
			xlnx,pf1-msix-cap-table-size-qdma = <000>;
			xlnx,pf1-sriov-supported-page-size = <00000553>;
			xlnx,pf3-sriov-cap-ver = <1>;
			xlnx,pf1-bar0-index = <0>;
			xlnx,pf1-bar0-scale-qdma = "Gigabytes";
			xlnx,pf1-vf-bar0-aperture-size = <00000000>;
			xlnx,pf1-sriov-bar2-scale = "Kilobytes";
			xlnx,pf3-rbar-num = <1>;
			xlnx,pf2-vf-bar3-aperture-size = <00000000>;
			xlnx,pf3-bar3-index = <7>;
			xlnx,dma-mode-en;
			xlnx,pf3-bar4-control = <0x0>;
			xlnx,pf3-vf-bar6-aperture-size = <0x0>;
			xlnx,pf0-sriov-bar1-control = <0x0>;
			xlnx,pf2-bar1-index = <7>;
			xlnx,pf1-sriov-bar3-type = "AXI_Bridge_Master";
			xlnx,xdma-non-incremental-exdes;
			xlnx,type1-prefetchable-membase-memlimit = "Disabled";
			xlnx,axilite-master-control = <0x0>;
			xlnx,pf1-sriov-bar1-scale = "Kilobytes";
			xlnx,versal-part-type = "SXX";
			xlnx,pf1-sriov-bar0-type = "AXI_Bridge_Master";
			xlnx,pf0-class-code-qdma = <060400>;
			xlnx,pf3-msix-cap-table-offset-qdma = <30000>;
			xlnx,pf3-vf-bar1-aperture-size = <00000000>;
			xlnx,enable-auto-rxeq;
			xlnx,cfg-ext-if;
			compatible = "xlnx,qdma-5.0" , "xlnx,qdma-host-3.00";
			xlnx,pf3-bar2-index = <7>;
			xlnx,pf3-sriov-bar1-control = <0x0>;
			xlnx,pf1-bar5-type-qdma = "AXI_Bridge_Master";
			xlnx,pf0-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf1-bar1-scale-qdma = "Megabytes";
			xlnx,pf2-bar0-index = <0>;
			device_type = "pci";
			xlnx,pl-disable-lane-reversal;
			xlnx,pf2-bar4-control = <0x0>;
			xlnx,axist-bypass-scale = "Megabytes";
			xlnx,pf3-sriov-supported-page-size = <00000553>;
			xlnx,pf1-sriov-bar0-scale = "Kilobytes";
			xlnx,pf0-msix-cap-pba-bir = "BAR_0";
			xlnx,flr-enable;
			xlnx,pf3-bar1-index = <7>;
			xlnx,multq-en = <0>;
			xlnx,pf3-sriov-bar2-64bit;
			xlnx,pf0-rbar-num = <1>;
			xlnx,pf3-sriov-bar4-size = <4>;
			xlnx,mdma-pfch-cache-depth = <16>;
			xlnx,testname = "mm_st";
			xlnx,pf3-sriov-bar1-size = <4>;
			xlnx,pf2-interrupt-pin = <001>;
			xlnx,pf1-bar2-scale-qdma = "Kilobytes";
			xlnx,pf3-bar0-index = <0>;
			xlnx,pf2-sriov-cap-initial-vf = <4>;
			xlnx,m-axi-num-read = <8>;
			xlnx,pf0-msix-cap-table-size-qdma = <000>;
			xlnx,pf0-bar6-aperture-size = <0x0>;
			xlnx,pf0-sriov-bar4-type = "AXI_Bridge_Master";
			xlnx,pf1-bar4-control = <0x0>;
			xlnx,metering-on = <1>;
			xlnx,pf3-base-class-menu-qdma = "Bridge_device";
			xlnx,pf0-addr-mask = <0x0>;
			xlnx,pf1-bar0-64bit-qdma;
			xlnx,xdma-axilite-master;
			xlnx,mailbox-enable;
			xlnx,pf0-sriov-bar1-type = "AXI_Bridge_Master";
			xlnx,bar2-indicator = <0>;
			xlnx,pf0-bar3-type-qdma = "AXI_Bridge_Master";
			interrupt-map-mask = < 0 0 0 7 >;
			xlnx,axisten-if-msix-rx-parity-en;
			xlnx,pf2-class-code-base-qdma = <06>;
			xlnx,pf0-bar1-aperture-size = <0x0>;
			xlnx,pf3-bar6-aperture-size = <00000000>;
			xlnx,pf3-sriov-bar0-64bit;
			xlnx,pf0-msix-cap-table-offset-qdma = <30000>;
			xlnx,pf1-bar3-scale-qdma = "Kilobytes";
			xlnx,pf3-bar1-aperture-size = <00000000>;
			xlnx,enable-gen4;
			xlnx,pf0-bar4-control = <0x0>;
			xlnx,pf2-bar0-enabled-qdma;
			xlnx,pf3-bar0-size-qdma = <2>;
			xlnx,pf0-revision-id = <0x0>;
			xlnx,pf2-sriov-bar5-size = <4>;
			xlnx,s-axi-id-width = <4>;
			xlnx,msix-enabled;
			xlnx,pf2-sriov-bar2-size = <4>;
			xlnx,xlnx-ddr-ex;
			xlnx,enable-ccix;
			xlnx,last-core-cap-addr = <0x1f0>;
			xlnx,pf1-expansion-rom-size-qdma = <4>;
			xlnx,mult-pf-des;
			xlnx,pf1-device-id = <0x913f>;
			xlnx,pll-type = <1>;
			xlnx,timeout0-sel = <0xe>;
			xlnx,pf0-sriov-first-vf-offset = <1>;
			xlnx,lane-order = "Bottom";
			xlnx,pf1-bar4-scale-qdma = "Kilobytes";
			xlnx,soft-nic;
			xlnx,barlite-ext-pf0 = <000000>;
			xlnx,pf0-bar4-size-qdma = <128>;
			xlnx,barlite-ext-pf1 = <000000>;
			xlnx,barlite-ext-pf2 = <000000>;
			xlnx,barlite-ext-pf3 = <000000>;
			xlnx,pf3-enabled = <0>;
			xlnx,vfg1-msix-cap-table-offset-qdma = <4000>;
			xlnx,enable-error-injection;
			xlnx,debug-mode = "DEBUG_NONE";
			xlnx,gt-selected = "GTY_QUAD_X1Y2,GTY_QUAD_X1Y3";
			xlnx,pf1-bar5-scale-qdma = "Kilobytes";
			xlnx,pf1-sriov-bar3-size = <4>;
			xlnx,pf2-sriov-bar2-enabled;
			xlnx,pf2-sriov-bar4-control = <0x0>;
			xlnx,mcap-enablement = "NONE";
			xlnx,pf1-sriov-bar0-size = <4>;
			xlnx,csr-module = <1>;
			xlnx,pf2-bar4-aperture-size = <00000000>;
			xlnx,pf1-bar4-type-qdma = "AXI_Bridge_Master";
			xlnx,vf-barlite-ext-pf0 = <000000>;
			xlnx,vf-barlite-ext-pf1 = <000000>;
			xlnx,vf-barlite-ext-pf2 = <000000>;
			xlnx,vf-barlite-ext-pf3 = <000000>;
			xlnx,pf0-sriov-bar2-64bit;
			xlnx,pf3-msix-vectors = <0>;
			xlnx,versal-part-type-hxx = "SXX";
			xlnx,msi-x-options = "None";
			xlnx,pf2-bar0-prefetchable-qdma;
			xlnx,copy-sriov-pf0;
			xlnx,rx-ppm-offset = <0>;
			xlnx,axisten-if-enable-msg-route-override;
			xlnx,axibar-highaddr-0 = <0xafffffff>;
			xlnx,versal;
			xlnx,axibar-highaddr-1 = <0x0>;
			xlnx,axibar-highaddr-2 = <0x0>;
			xlnx,axibar-highaddr-3 = <0x0>;
			xlnx,axibar-highaddr-4 = <0x0>;
			xlnx,vfg3-msix-cap-pba-offset-qdma = <4800>;
			xlnx,name = "qdma_0";
			xlnx,axibar-highaddr-5 = <0x0>;
			xlnx,pf1-sriov-bar0-enabled;
			xlnx,pf1-sriov-bar2-control = <0x0>;
			xlnx,pf2-msix-vectors = <0>;
			xlnx,pf0-bar0-prefetchable-qdma;
			xlnx,pf0-sriov-bar4-size = <4>;
			xlnx,pf0-rbar-cap-bar0 = <0xfff0>;
			xlnx,h2c-xdma-chnl = <0xf>;
			xlnx,pf0-rbar-cap-bar1 = <0x0>;
			xlnx,pf0-sriov-bar0-64bit;
			xlnx,pf0-rbar-cap-bar2 = <0x0>;
			xlnx,bar1-indicator = <0>;
			xlnx,pf0-rbar-cap-bar3 = <0x0>;
			xlnx,pf0-bar2-type-qdma = "AXI_Lite_Master";
			xlnx,pf0-rbar-cap-bar4 = <0x0>;
			xlnx,pf0-sriov-bar1-size = <4>;
			xlnx,enable-clock-delay-grp;
			xlnx,pf0-rbar-cap-bar5 = <0x0>;
			xlnx,c2h-stream-cpl-err-bit-pos0 = <2>;
			xlnx,c2h-stream-cpl-err-bit-pos1 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos2 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos3 = <0>;
			xlnx,pf1-bar5-size-qdma = <128>;
			xlnx,c2h-stream-cpl-err-bit-pos4 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos5 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos6 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos7 = <0>;
			xlnx,vfg2-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf0-vf-bar6-aperture-size = <0x0>;
			xlnx,pf1-msix-cap-table-bir = "BAR_0";
			xlnx,pf1-msix-vectors = <1>;
			xlnx,pf0-base-class-menu-qdma = "Bridge_device";
			xlnx,axibar-notranslate = <0>;
			xlnx,pf0-vf-bar1-aperture-size = <00000000>;
			xlnx,enable-pcie-debug-axi4-st;
			xlnx,xdma-st-infinite-desc-exdes;
			xlnx,pf1-vf-bar4-aperture-size = <00000000>;
			xlnx,pf3-bar3-control = <0x0>;
			xlnx,pf0-sriov-bar0-control = <0x7>;
			xlnx,pf3-sriov-bar2-prefetchable;
			xlnx,pf1-bar2-aperture-size = <00000000>;
			xlnx,user-clk-freq = <2>;
			xlnx,shell-bridge = <0>;
			xlnx,pf3-sub-class-interface-menu-qdma = "InfiniBand_to_PCI_host_bridge";
			xlnx,pf2-sriov-cap-ver = <1>;
			xlnx,vfg1-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf0-device-id = <0xb0b4>;
			xlnx,pf2-bar5-type-qdma = "AXI_Bridge_Master";
			xlnx,pf0-msix-vectors = <1>;
			xlnx,pf3-sriov-bar0-control = <0x0>;
			xlnx,pf2-vf-bar2-aperture-size = <00000000>;
			xlnx,xdma-rnum-chnl = <4>;
			xlnx,pf0-bar3-size-qdma = <128>;
			xlnx,all-speeds-all-sides;
			xlnx,pf3-vf-bar5-aperture-size = <00000000>;
			xlnx,vfg2-msix-cap-pba-offset-qdma = <4800>;
			xlnx,mode-selection = "Advanced";
			xlnx,pf2-bar3-control = <0x0>;
			xlnx,pf2-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,enable-more;
			xlnx,pf3-vf-bar0-aperture-size = <00000000>;
			xlnx,pf2-pciebar2axibar-0 = <0x0>;
			xlnx,pf2-pciebar2axibar-1 = <0x20000000>;
			xlnx,tandem-rfsoc;
			xlnx,gt-loc-num = "X99Y99";
			xlnx,pf2-pciebar2axibar-2 = <0x20000000>;
			xlnx,pf2-pciebar2axibar-3 = <0x0>;
			xlnx,is-board-project = <1>;
			xlnx,pf2-pciebar2axibar-4 = <0x0>;
			xlnx,pf3-sriov-bar5-scale = "Kilobytes";
			xlnx,pf2-pciebar2axibar-5 = <0x0>;
			xlnx,pf2-pciebar2axibar-6 = <0000000000000000000000000000000000000000000000000000000000000000>;
			xlnx,pcie-pfs-supported = <1>;
			xlnx,pipe-line-stage = <2>;
			xlnx,pciebar2axibar-axist-bypass = <0x0>;
			xlnx,pf1-bar3-control = <0x0>;
			xlnx,pf1-bar3-type-qdma = "AXI_Bridge_Master";
			xlnx,wrb-coal-max-buf = <16>;
			xlnx,pl-link-cap-max-link-speed = <8>;
			xlnx,pf3-sriov-bar4-scale = "Kilobytes";
			xlnx,pf3-sriov-bar0-prefetchable;
			xlnx,pcie-blk-locn = <6>;
			xlnx,pf2-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf1-interrupt-pin = <001>;
			xlnx,pf0-vf-pciebar2axibar-0 = <0x0>;
			xlnx,pf3-bar0-scale-qdma = "Gigabytes";
			xlnx,pf0-vf-pciebar2axibar-1 = <0x40000000>;
			xlnx,pf0-bar5-aperture-size = <0x0>;
			xlnx,pf0-vf-pciebar2axibar-2 = <0x40000000>;
			xlnx,pf0-vf-pciebar2axibar-3 = <0x0>;
			xlnx,pf3-sriov-bar3-scale = "Kilobytes";
			xlnx,pf0-vf-pciebar2axibar-4 = <0x0>;
			xlnx,pf0-link-status-slot-clock-config;
			xlnx,pf0-vf-pciebar2axibar-5 = <0x0>;
			xlnx,msix-pcie-internal = <0>;
			xlnx,pf0-bar3-control = <0x0>;
			xlnx,enable-ibert;
			xlnx,pf0-sriov-bar5-control = <0x0>;
			xlnx,functional-mode = "AXI_Bridge";
			xlnx,pf0-bar0-aperture-size = <0x1d>;
			xlnx,pf3-bar5-aperture-size = <00000000>;
			xlnx,pf3-sriov-bar3-type = "AXI_Bridge_Master";
			xlnx,disable-bram-pipeline;
			xlnx,vfg1-msix-cap-pba-offset-qdma = <4800>;
			xlnx,pf3-subsystem-id = <0x7>;
			interrupt-names = "misc" , "msi0" , "msi1";
			xlnx,data-mover;
			xlnx,pf3-sriov-bar0-type = "AXI_Bridge_Master";
			xlnx,pf3-sriov-bar2-scale = "Kilobytes";
			xlnx,pf2-class-code-qdma = "060A00";
			xlnx,gtwiz-in-core-us = <1>;
			xlnx,enable-at-ports;
			xlnx,pf3-sriov-bar5-control = <0x0>;
			xlnx,bar0-indicator = <1>;
			xlnx,xdma-wnum-chnl = <4>;
			xlnx,pf0-bar1-type-qdma = "AXI_Bridge_Master";
			xlnx,pf1-class-code-interface-qdma = <00>;
			xlnx,pf3-bar0-aperture-size = <00000000>;
			xlnx,pf3-bar1-scale-qdma = "Megabytes";
			xlnx,ccix-enable;
			xlnx,pf1-bar4-size-qdma = <128>;
			xlnx,pf1-sriov-vf-device-id = "C144";
			xlnx,pf1-vf-pciebar2axibar-0 = <0x0>;
			xlnx,pf3-sriov-bar1-scale = "Kilobytes";
			xlnx,pf1-vf-pciebar2axibar-1 = <0x50000000>;
			xlnx,pf1-vf-pciebar2axibar-2 = <0x50000000>;
			xlnx,pf1-vf-pciebar2axibar-3 = <0x0>;
			xlnx,pf1-vf-pciebar2axibar-4 = <0x0>;
			xlnx,pf1-vf-pciebar2axibar-5 = <0x0>;
			xlnx,pf2-subsystem-id = <0x7>;
			xlnx,pf2-enabled = <0>;
			xlnx,pf3-expansion-rom-scale-qdma = "Kilobytes";
			xlnx,pf1-revision-id = <0x0>;
			xlnx,parity-prop = <0>;
			xlnx,ultrascale;
			xlnx,pf3-sriov-bar0-scale = "Kilobytes";
			xlnx,vfg0-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf3-bar2-scale-qdma = "Kilobytes";
			xlnx,pf2-sriov-bar4-type = "AXI_Bridge_Master";
			xlnx,pf3-bar0-64bit-qdma;
			xlnx,pf2-sriov-bar1-type = "AXI_Bridge_Master";
			xlnx,pf3-class-code-interface-qdma = <00>;
			xlnx,pf2-sriov-bar3-control = <0x0>;
			xlnx,old-bridge-timeout = <0>;
			xlnx,pf1-subsystem-id = <0x7>;
			xlnx,pf2-bar4-type-qdma = "AXI_Bridge_Master";
			xlnx,pf0-bar2-size-qdma = <4>;
			xlnx,pf2-sriov-first-vf-offset = <7>;
			xlnx,pf2-vf-pciebar2axibar-0 = <0x0>;
			xlnx,pf2-vf-pciebar2axibar-1 = <0x60000000>;
			xlnx,en-debug-ports;
			xlnx,pf2-vf-pciebar2axibar-2 = <0x60000000>;
			xlnx,ext-sys-clk-bufg;
			xlnx,pf1-sriov-bar2-prefetchable;
			xlnx,pf2-vf-pciebar2axibar-3 = <0x0>;
			xlnx,vfg0-msix-cap-pba-offset-qdma = <4800>;
			xlnx,rable = <0>;
			xlnx,axilite-master-aperture-size = <0x0>;
			xlnx,pf2-vf-pciebar2axibar-4 = <0x0>;
			xlnx,ip-name = "qdma";
			xlnx,pf2-vf-pciebar2axibar-5 = <0x0>;
			xlnx,bridge-burst;
			xlnx,pf0-sriov-bar5-scale = "Kilobytes";
			xlnx,pciebar2axibar-axil-master = <0x0>;
			xlnx,pf3-bar3-scale-qdma = "Kilobytes";
			xlnx,pf2-bar3-aperture-size = <00000000>;
			xlnx,pf0-subsystem-id = <0x7>;
			interrupt-parent = <&imux>;
			xlnx,phy-lp-txpreset = <4>;
			xlnx,pf0-sriov-bar4-scale = "Kilobytes";
			xlnx,pf3-sriov-cap-initial-vf = <4>;
			xlnx,pf0-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf1-sriov-bar5-type = "AXI_Bridge_Master";
			xlnx,xdma-scale = "Megabytes";
			xlnx,pf1-sriov-bar1-control = <0x0>;
			xlnx,pf1-bar2-type-qdma = "AXI_Lite_Master";
			xlnx,pf1-sriov-bar2-type = "AXI_Lite_Master";
			xlnx,pf2-expansion-rom-scale-qdma = "Kilobytes";
			xlnx,pf3-vf-pciebar2axibar-0 = <0x0>;
			xlnx,pf3-vf-pciebar2axibar-1 = <0x70000000>;
			xlnx,gtcom-in-core = <2>;
			xlnx,pf3-bar4-scale-qdma = "Kilobytes";
			xlnx,pf3-class-code-base-qdma = <06>;
			xlnx,pf3-vf-pciebar2axibar-2 = <0x70000000>;
			xlnx,num-of-sc = <1>;
			xlnx,pf3-vf-pciebar2axibar-3 = <0x0>;
			xlnx,pf3-vf-pciebar2axibar-4 = <0x0>;
			xlnx,pf2-bar5-size-qdma = <128>;
			xlnx,pf3-vf-pciebar2axibar-5 = <0x0>;
			xlnx,pf0-sriov-bar3-scale = "Kilobytes";
			clocks = <&misc_clk_0>;
			xlnx,pf1-sub-class-interface-menu-qdma = "InfiniBand_to_PCI_host_bridge";
			xlnx,pf3-vf-addr-mask = <0xfff>;
			xlnx,sys-reset-polarity = <0>;
			xlnx,pf1-rbar-num = <1>;
			xlnx,en-axi-mm-qdma;
			xlnx,pf1-sriov-bar0-prefetchable;
			xlnx,pf0-sriov-bar2-scale = "Kilobytes";
			xlnx,pf2-msix-cap-table-offset-qdma = <30000>;
			xlnx,pf1-bar0-enabled-qdma;
			xlnx,barlite1 = <0>;
			xlnx,barlite2 = <7>;
			xlnx,pf0-bar0-scale-qdma = "Gigabytes";
			xlnx,pf3-bar5-scale-qdma = "Kilobytes";
			xlnx,xdma-sts-ports;
			xlnx,pf3-sriov-bar3-size = <4>;
			xlnx,s-axi-num-write = <8>;
			xlnx,pf2-vf-addr-mask = <0xfff>;
			xlnx,pf0-vf-bar5-aperture-size = <00000000>;
			xlnx,pf3-bar2-control = <0x0>;
			xlnx,pf3-sriov-bar0-size = <4>;
			xlnx,pf2-expansion-rom-type-qdma = "Expansion_ROM";
			xlnx,pf0-sriov-bar1-scale = "Kilobytes";
			xlnx,pf0-bar0-type-qdma = "AXI_Bridge_Master";
			xlnx,pf3-bar5-type-qdma = "AXI_Bridge_Master";
			#size-cells = <2>;
			xlnx,adv-int-usr;
			xlnx,pf0-sriov-bar3-type = "AXI_Bridge_Master";
			xlnx,c2h-num-chnl = <4>;
			xlnx,pf1-bar3-size-qdma = <128>;
			xlnx,pf1-bar6-aperture-size = <00000000>;
			xlnx,en-gt-selection;
			xlnx,barlite-int-pf0 = <0x0>;
			xlnx,pf0-vf-bar0-aperture-size = <00000000>;
			xlnx,tl-credits-cd = <15>;
			xlnx,barlite-int-pf1 = <0x0>;
			xlnx,pf0-sriov-bar0-type = "AXI_Bridge_Master";
			xlnx,barlite-int-pf2 = <0x0>;
			xlnx,barlite-int-pf3 = <0x0>;
			xlnx,disable-user-clock-root;
			xlnx,pf1-vf-bar3-aperture-size = <00000000>;
			xlnx,tl-credits-ch = <15>;
			xlnx,pf0-sriov-bar0-scale = "Kilobytes";
			xlnx,pf0-bar1-scale-qdma = "Megabytes";
			xlnx,pf2-vf-bar6-aperture-size = <0x0>;
			xlnx,pf1-bar1-aperture-size = <00000000>;
			xlnx,pf1-expansion-rom-scale-qdma = "Kilobytes";
			xlnx,pf1-vf-addr-mask = <0xfff>;
			ranges = <0x02000000 0x00000000 0x00000000 0x0 0xA8000000 0x00000000 0x08000000>;
			xlnx,pf1-sriov-cap-ver = <1>;
			xlnx,pf2-bar2-control = <0x0>;
			xlnx,pf2-sriov-bar2-64bit;
			xlnx,vfg3-msix-cap-table-offset-qdma = <4000>;
			xlnx,xdma-num-usr-irq = <16>;
			xlnx,pf2-vf-bar1-aperture-size = <00000000>;
			xlnx,plltype = "QPLL0";
			xlnx,vsec-cap-addr = <0xe00>;
			xlnx,pf3-vf-bar4-aperture-size = <00000000>;
			xlnx,pf2-sriov-bar4-size = <4>;
			xlnx,usr-irq-xdma-type-interface;
			xlnx,pf1-msix-cap-table-offset = <00010040>;
			xlnx,c2h-stream-cpl-data-size = <0>;
			xlnx,en-qdma;
			xlnx,pf2-sriov-bar1-size = <4>;
			xlnx,dsc-bypass-rd = <0>;
			xlnx,axisten-if-enable-msg-route = <0x2007f>;
			xlnx,pf2-bar3-type-qdma = "AXI_Bridge_Master";
			xlnx,pf1-msix-enabled;
			xlnx,vfg3-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,vf-barlite-int-pf0 = <000000>;
			xlnx,pf0-bar2-scale-qdma = "Kilobytes";
			xlnx,vf-barlite-int-pf1 = <000000>;
			xlnx,pf0-vf-addr-mask = <0xfff>;
			xlnx,vf-barlite-int-pf2 = <000000>;
			xlnx,dma-completion = <0>;
			xlnx,msix-preset = <0>;
			xlnx,pf0-bar1-size-qdma = <128>;
			xlnx,pf1-bar2-control = <0x0>;
			xlnx,vf-barlite-int-pf3 = <000000>;
			xlnx,enable-64bit;
			xlnx,pf0-bar0-64bit-qdma;
			xlnx,vu9p-tul-ex;
			xlnx,pf2-sriov-bar0-64bit;
			xlnx,virtio-en;
			xlnx,type1-membase-memlimit-enable = "Disabled";
			xlnx,dsc-bypass-rd-out = <0>;
			xlnx,enable-dvsec;
			xlnx,acs-ext-cap-enable;
			xlnx,en-transceiver-status-ports;
			xlnx,rp-msi-enabled;
			xlnx,pf0-bar2-control = <0x0>;
			xlnx,pf0-bar3-scale-qdma = "Kilobytes";
			xlnx,pf0-sriov-bar2-enabled;
			xlnx,pf0-sriov-bar4-control = <0x0>;
			#address-cells = <3>;
			xlnx,pf0-interrupt-pin = <0x1>;
			xlnx,pr-cap-nextptr = <0x0>;
			xlnx,pf3-vendor-id = <0x10ee>;
			xlnx,axist-bypass-control = <0x0>;
			xlnx,pf1-sriov-bar5-size = <4>;
			xlnx,pf0-expansion-rom-scale-qdma = "Kilobytes";
			xlnx,pf0-bar4-aperture-size = <0x0>;
			xlnx,pf1-bar1-type-qdma = "AXI_Bridge_Master";
			xlnx,vfg0-msix-cap-table-offset-qdma = <4000>;
			xlnx,pf1-sriov-bar2-size = <4>;
			xlnx,pf3-sriov-bar2-enabled;
			xlnx,pf3-sriov-bar4-control = <0x0>;
			xlnx,pf2-bar4-size-qdma = <128>;
			xlnx,en-axi-master-if;
			xlnx,dsc-bypass-wr-out = <0>;
			xlnx,pf3-bar4-aperture-size = <00000000>;
			xlnx,pf0-sriov-cap-initial-vf = <4>;
			xlnx,dsc-bypass-rd-csr = <0>;
			xlnx,pf0-bar4-scale-qdma = "Kilobytes";
			xlnx,pf1-base-class-menu-qdma = "Bridge_device";
			xlnx,dsc-bypass-wr = <0>;
			xlnx,pf1-enabled = <0>;
			xlnx,pf0-class-code-base-qdma = <06>;
			xlnx,rq-rcfg-en;
			xlnx,pf0-sriov-supported-page-size = <00000553>;
			xlnx,drp-clk-sel = <0>;
			xlnx,ins-loss-profile = "Add-in_Card";
			xlnx,alf-cap-enable;
			xlnx,pf3-bar4-type-qdma = "AXI_Bridge_Master";
			xlnx,xdma-size = <1>;
			xlnx,pf0-bar5-scale-qdma = "Kilobytes";
			xlnx,pf2-sriov-bar0-enabled;
			xlnx,pf2-sriov-bar2-control = <0x0>;
			xlnx,pf0-sriov-bar3-size = <4>;
			xlnx,pf1-bar2-size-qdma = <4>;
			xlnx,dsc-bypass-wr-csr = <0>;
			xlnx,max-num-queue = <512>;
			xlnx,pf0-sriov-bar0-size = <4>;
			xlnx,dma-intf-sel-qdma = "AXI_MM_and_AXI_Stream_with_Completion";
			xlnx,timeout1-sel = <0xf>;
			xlnx,axi-aclk-loopback;
			xlnx,pf0-expansion-rom-type-qdma = "Expansion_ROM";
			xlnx,enable-ats-switch;
			xlnx,vfg3-msix-cap-table-size-qdma = <000>;
			xlnx,pf2-sriov-supported-page-size = <00000553>;
			xlnx,pf2-revision-id = <0x0>;
			xlnx,v7-gen3;
			xlnx,c2h-stream-cpl-col-bit-pos0 = <1>;
			xlnx,pf0-class-code-sub-qdma = <04>;
			xlnx,c2h-stream-cpl-col-bit-pos1 = <0>;
			xlnx,c2h-stream-cpl-col-bit-pos2 = <0>;
			xlnx,c2h-stream-cpl-col-bit-pos3 = <0>;
			xlnx,c2h-stream-cpl-col-bit-pos4 = <0>;
			xlnx,gtwiz-in-core-usp = <1>;
			xlnx,c2h-stream-cpl-col-bit-pos5 = <0>;
			xlnx,c2h-xdma-chnl = <0xf>;
			xlnx,c2h-stream-cpl-col-bit-pos6 = <0>;
			xlnx,c2h-stream-cpl-col-bit-pos7 = <0>;
			xlnx,master-cal-only;
			xlnx,pf2-bar2-type-qdma = "AXI_Lite_Master";
			xlnx,pipe-sim;
			xlnx,pf2-expansion-rom-size-qdma = <4>;
			xlnx,xdma-axilite-slave;
			xlnx,pf1-sriov-bar0-control = <0x0>;
			xlnx,dev-port-type = <2>;
			xlnx,pf0-bar0-size-qdma = <2>;
			xlnx,pf3-bar5-size-qdma = <128>;
			xlnx,msi-enabled;
			xlnx,pf2-bar2-aperture-size = <00000000>;
			xlnx,mm-slave-en = <1>;
			xlnx,pf3-msix-cap-pba-offset-qdma = <34000>;
			xlnx,ins-loss-nyq = <15>;
			xlnx,pf1-class-code-sub-qdma = "0A";
			xlnx,pf3-rbar-cap-bar0 = <0xfff0>;
			xlnx,axi-id-width = <4>;
			xlnx,pf3-rbar-cap-bar1 = <0x0>;
			xlnx,pf3-rbar-cap-bar2 = <0x0>;
			xlnx,core-clk-freq = <2>;
			xlnx,firstvf-offset-pf0 = <1>;
			xlnx,pf3-rbar-cap-bar3 = <0x0>;
			xlnx,axibar2pciebar-0 = <0x0>;
			xlnx,firstvf-offset-pf1 = <4>;
			xlnx,pf3-rbar-cap-bar4 = <0x0>;
			xlnx,axibar2pciebar-1 = <0x0>;
			xlnx,firstvf-offset-pf2 = <7>;
			xlnx,pf2-vendor-id = <0x10ee>;
			xlnx,pf3-rbar-cap-bar5 = <0x0>;
			xlnx,axibar2pciebar-2 = <0x0>;
			xlnx,firstvf-offset-pf3 = <10>;
			xlnx,axibar2pciebar-3 = <0x0>;
			xlnx,axibar2pciebar-4 = <0x0>;
			xlnx,pf1-bar0-type-qdma = "AXI_Bridge_Master";
			xlnx,vfg2-msix-cap-table-size-qdma = <000>;
			xlnx,axibar2pciebar-5 = <0x0>;
			xlnx,pf3-bar1-control = <0x0>;
			xlnx,pf2-bar3-size-qdma = <128>;
			xlnx,axist-bypass-size = <1>;
			xlnx,gtcom-in-core-usp = <2>;
			xlnx,disable-eq-synchronizer;
			xlnx,axi-data-width = <256>;
			xlnx,en-pcie-debug-ports;
			xlnx,pf0-vf-bar4-aperture-size = <00000000>;
			xlnx,pf2-class-code-sub-qdma = "0A";
			xlnx,pciebar-num = <2>;
			xlnx,pfch-cache-depth = <16>;
			xlnx,axibar-num = <1>;
			xlnx,iep-en;
			xlnx,free-run-freq = <0>;
			xlnx,pf1-pciebar2axibar-0 = <0x0>;
			xlnx,ultrascale-plus;
			xlnx,m-axi-num-write = <32>;
			xlnx,enable-pcie-debug;
			xlnx,pf1-pciebar2axibar-1 = <0x10000000>;
			xlnx,pf2-bar1-control = <0x0>;
			xlnx,pf1-pciebar2axibar-2 = <0x10000000>;
			xlnx,pf1-bar5-aperture-size = <00000000>;
			xlnx,pf1-pciebar2axibar-3 = <0x0>;
			xlnx,pf2-msix-cap-pba-offset-qdma = <34000>;
			xlnx,vfg0-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf0-msix-impl-locn = "External";
			xlnx,pf1-pciebar2axibar-4 = <0x0>;
			xlnx,pf2-sriov-bar5-scale = "Kilobytes";
			xlnx,pf1-pciebar2axibar-5 = <0x0>;
			xlnx,pf1-pciebar2axibar-6 = <0000000000000000000000000000000000000000000000000000000000000000>;
			xlnx,pf3-sriov-bar5-type = "AXI_Bridge_Master";
			xlnx,pf1-vf-bar2-aperture-size = <00000000>;
			interrupt-map = <0 0 0 1 &pcie_intc_1 0>, <0 0 0 2 &pcie_intc_1 1>, <0 0 0 3 &pcie_intc_1 2>, <0 0 0 4 &pcie_intc_1 3>;
			interrupts = < 0 84 4 0 85 4 0 86 4 >;
			xlnx,pf1-sriov-bar5-control = <0x0>;
			xlnx,pf3-sriov-bar2-type = "AXI_Lite_Master";
			xlnx,pf2-vf-bar5-aperture-size = <00000000>;
			xlnx,pf3-bar3-type-qdma = "AXI_Bridge_Master";
			xlnx,pf1-bar0-aperture-size = <00000000>;
			xlnx,ext-xvc-vsec-enable;
			xlnx,pf0-sriov-cap-ver = <1>;
			xlnx,pf1-bar1-size-qdma = <128>;
			xlnx,pf2-sriov-bar4-scale = "Kilobytes";
			xlnx,pf1-bar1-control = <0x0>;
			xlnx,pf2-vf-bar0-aperture-size = <00000000>;
			xlnx,rbar-enable;
			xlnx,pf3-class-code-sub-qdma = "0A";
			xlnx,vfg3-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf3-vf-bar3-aperture-size = <00000000>;
			xlnx,vfg1-msix-cap-table-size-qdma = <000>;
			xlnx,pf2-sriov-vf-device-id = "C244";
			xlnx,pf2-sriov-bar3-scale = "Kilobytes";
			xlnx,num-vfs-pf0 = <4>;
			xlnx,pf2-bar0-scale-qdma = "Gigabytes";
			xlnx,num-vfs-pf1 = <4>;
			xlnx,num-vfs-pf2 = <4>;
			xlnx,pf0-msix-cap-pba-offset = <00000000>;
		};
		qdma_1: axi-pcie@90000000 {
			xlnx,num-vfs-pf3 = <4>;
			xlnx,dbg-en = "DEBUG_NONE";
			xlnx,pf0-bar1-control = <0x0>;
			xlnx,pf3-bar6-control = <0x0>;
			reg = <0x0 0x90000000 0x0 0x10000000 0x0 0xb0000000 0x0 0x10000000 0x00000004 0x40000000 0x0 0x10000000>;
			xlnx,pf1-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf0-sriov-bar3-control = <0x0>;
			xlnx,pf2-sriov-bar2-scale = "Kilobytes";
			xlnx,pf2-bar1-type-qdma = "AXI_Bridge_Master";
			xlnx,dma-2rp;
			xlnx,pf2-sriov-bar3-type = "AXI_Bridge_Master";
			xlnx,pf3-bar0-prefetchable-qdma;
			xlnx,pf3-bar4-size-qdma = <128>;
			xlnx,select-quad = "GTH_Quad_128";
			xlnx,pf2-sriov-bar0-type = "AXI_Bridge_Master";
			xlnx,pf1-class-code-qdma = "060A00";
			xlnx,pf1-msix-cap-pba-offset-qdma = <34000>;
			xlnx,sys-rst-n-board-interface = "Custom";
			xlnx,ats-cap-nextptr = <0x0>;
			xlnx,pf3-sriov-bar3-control = <0x0>;
			xlnx,coreclk-freq = <500>;
			xlnx,pf2-bar1-scale-qdma = "Megabytes";
			xlnx,pf2-sriov-bar1-scale = "Kilobytes";
			xlnx,example-design-type = "RTL";
			xlnx,pf0-expansion-rom-size-qdma = <4>;
			xlnx,pf1-bar0-prefetchable-qdma;
			xlnx,pf2-bar6-control = <0x0>;
			xlnx,en-bridge-slv;
			xlnx,pf3-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf0-bar3-aperture-size = <0x0>;
			xlnx,pf0-msi-cap-multimsgcap = <0>;
			xlnx,usr-irq-exdes;
			xlnx,pf1-msix-cap-pba-offset = <00010050>;
			xlnx,timeout-mult = <0x3>;
			xlnx,pf2-sriov-bar0-scale = "Kilobytes";
			xlnx,pf0-bar0-enabled-qdma;
			xlnx,pf1-msix-cap-pba-bir = "BAR_0";
			xlnx,pf3-bar3-aperture-size = <00000000>;
			xlnx,pf1-vendor-id = <0x10ee>;
			xlnx,minimal-dma-en;
			xlnx,msix-impl-ext;
			clock-names = "user_clk_sd";
			xlnx,vfg0-msix-cap-table-size-qdma = <000>;
			xlnx,pf2-bar2-scale-qdma = "Kilobytes";
			xlnx,pf1-sriov-bar4-type = "AXI_Bridge_Master";
			xlnx,pf2-bar2-size-qdma = <4>;
			xlnx,pf1-bar6-control = <0x0>;
			xlnx,pf2-bar0-64bit-qdma;
			xlnx,pf1-sriov-bar1-type = "AXI_Bridge_Master";
			xlnx,pf2-rbar-num = <1>;
			xlnx,pf2-sriov-bar1-control = <0x0>;
			xlnx,rx-ssc-ppm = <0>;
			xlnx,pcie-board-interface = "Custom";
			xlnx,vdm-en;
			xlnx,ref-clk-freq = <0>;
			xlnx,pf1-msi-cap-multimsgcap = "1_vector";
			xlnx,pf0-msix-cap-pba-offset-qdma = <34000>;
			xlnx,pf2-bar3-scale-qdma = "Kilobytes";
			xlnx,wrb-coal-loop-fix-disable = <0>;
			xlnx,pf0-bar6-control = <0x0>;
			xlnx,csr-axilite-slave;
			xlnx,pf3-sriov-bar5-size = <4>;
			xlnx,pf1-sriov-first-vf-offset = <4>;
			xlnx,pf3-bar2-type-qdma = "AXI_Lite_Master";
			xlnx,pf3-sriov-bar2-size = <4>;
			xlnx,xdma-aperture-size = <0x12>;
			xlnx,pf1-bar0-size-qdma = <2>;
			xlnx,pf0-sriov-bar5-type = "AXI_Bridge_Master";
			xlnx,num-queues = <512>;
			status = "okay";
			xlnx,pf0-subsystem-vendor-id = <0x10ee>;
			xlnx,pf1-msix-cap-table-offset-qdma = <30000>;
			xlnx,pcie-extended-tag;
			xlnx,pf0-sriov-func-dep-link = <0000>;
			xlnx,pf0-sriov-bar2-type = "AXI_Lite_Master";
			xlnx,pf2-msi-cap-multimsgcap = "1_vector";
			xlnx,pf2-bar4-scale-qdma = "Kilobytes";
			xlnx,barlite-msix-pf0 = <000000>;
			xlnx,barlite-msix-pf1 = <000000>;
			xlnx,pf2-bar6-aperture-size = <00000000>;
			xlnx,barlite-msix-pf2 = <000000>;
			xlnx,barlite-msix-pf3 = <000000>;
			xlnx,pf3-addr-mask = <0x0>;
			xlnx,bar5-indicator = <0>;
			xlnx,pf3-revision-id = <0x0>;
			xlnx,pf2-bar1-aperture-size = <00000000>;
			xlnx,vfg1-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,enable-jtag-dbg;
			xlnx,en-bridge;
			xlnx,msix-int-table-en = <0>;
			xlnx,pf2-bar0-type-qdma = "AXI_Bridge_Master";
			xlnx,shared-logic = <0>;
			xlnx,split-dma;
			xlnx,pf2-bar5-scale-qdma = "Kilobytes";
			xlnx,pf2-sriov-bar3-size = <4>;
			xlnx,xdma-num-pcie-tag = <256>;
			xlnx,pf3-bar3-size-qdma = <128>;
			xlnx,pf1-subsystem-vendor-id = <0x10ee>;
			xlnx,ccix-dvsec;
			xlnx,pf1-sriov-func-dep-link = <0001>;
			xlnx,pf3-bar0-control = <0x0>;
			xlnx,xdma-en;
			xlnx,pf2-sriov-bar0-size = <4>;
			xlnx,pf3-msi-cap-multimsgcap = "1_vector";
			xlnx,vfg2-msix-cap-table-offset-qdma = <4000>;
			xlnx,pf2-sriov-bar2-prefetchable;
			xlnx,pf0-class-code-interface-qdma = <00>;
			xlnx,pf2-rbar-cap-bar0 = <0xfff0>;
			xlnx,axi-vip-in-exdes;
			xlnx,pf1-sriov-cap-initial-vf = <4>;
			xlnx,pf2-rbar-cap-bar1 = <0x0>;
			xlnx,pf2-rbar-cap-bar2 = <0x0>;
			xlnx,barlite-mb-pf0 = <0>;
			xlnx,pf2-rbar-cap-bar3 = <0x0>;
			xlnx,barlite-mb-pf1 = <0>;
			xlnx,pf2-rbar-cap-bar4 = <0x0>;
			xlnx,barlite-mb-pf2 = <0>;
			xlnx,axibar-0 = <0xb0000000>;
			xlnx,pf2-rbar-cap-bar5 = <0x0>;
			xlnx,barlite-mb-pf3 = <0>;
			xlnx,axibar-1 = <0x0>;
			xlnx,pf2-base-class-menu-qdma = "Bridge_device";
			xlnx,axibar-2 = <0x0>;
			xlnx,axilite-master-scale = "Megabytes";
			xlnx,axibar-3 = <0x0>;
			xlnx,xdma-dsc-bypass;
			xlnx,include-baroffset-reg = <0x1>;
			xlnx,axibar-4 = <0x0>;
			xlnx,axibar-5 = <0x0>;
			xlnx,pf1-sriov-bar2-64bit;
			xlnx,pf1-class-code-base-qdma = <06>;
			xlnx,axist-bypass-aperture-size = <0x0>;
			xlnx,tl-legacy-mode-enable;
			xlnx,pf2-bar0-control = <0x0>;
			xlnx,pf2-sub-class-interface-menu-qdma = "InfiniBand_to_PCI_host_bridge";
			xlnx,pf0-vendor-id = <0x10ee>;
			xlnx,pf3-bar0-enabled-qdma;
			xlnx,legacy-cfg-ext-if;
			xlnx,pf1-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf0-vf-bar3-aperture-size = <00000000>;
			xlnx,pf2-subsystem-vendor-id = <0x10ee>;
			xlnx,pf2-sriov-func-dep-link = <0002>;
			xlnx,pf1-sriov-bar2-enabled;
			xlnx,pf1-sriov-bar4-control = <0x0>;
			xlnx,pf2-bar1-size-qdma = <128>;
			xlnx,pf1-sriov-bar4-size = <4>;
			xlnx,pf1-vf-bar6-aperture-size = <0x0>;
			xlnx,pf2-class-code-interface-qdma = <00>;
			xlnx,pf1-bar4-aperture-size = <00000000>;
			xlnx,pf1-sriov-bar1-size = <4>;
			xlnx,enable-resource-reduction;
			xlnx,cfg-mgmt-if;
			xlnx,parity-settings = "None";
			xlnx,pf1-bar0-control = <0x0>;
			xlnx,pf1-sriov-bar0-64bit;
			xlnx,pf1-vf-bar1-aperture-size = <00000000>;
			xlnx,pf2-sriov-bar0-prefetchable;
			xlnx,pf2-vf-bar4-aperture-size = <00000000>;
			xlnx,pf0-msix-cap-table-offset = <00000000>;
			xlnx,cmp-col-reg-0 = <1>;
			xlnx,cmp-col-reg-1 = <0>;
			xlnx,cmp-col-reg-2 = <0>;
			xlnx,vfg2-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,cmp-col-reg-3 = <0>;
			xlnx,cmp-col-reg-4 = <0>;
			xlnx,cmp-col-reg-5 = <0>;
			xlnx,msix-type = "HARD";
			xlnx,cmp-col-reg-6 = <0>;
			xlnx,pf3-subsystem-vendor-id = <0x10ee>;
			xlnx,cmp-col-reg-7 = <0>;
			xlnx,pf0-msix-cap-table-size = <000>;
			xlnx,pf3-vf-bar2-aperture-size = <00000000>;
			xlnx,pf3-sriov-func-dep-link = <0003>;
			xlnx,sriov-en = <0>;
			xlnx,pf3-bar1-type-qdma = "AXI_Bridge_Master";
			xlnx,soft-nic-bridge;
			xlnx,pf3-expansion-rom-type-qdma = "Expansion_ROM";
			xlnx,pf0-bar0-control = <0x7>;
			xlnx,pf3-bar5-control = <0x0>;
			xlnx,pf0-sriov-bar0-enabled;
			xlnx,pf0-sriov-bar2-control = <0x7>;
			xlnx,pf0-sriov-bar5-size = <4>;
			xlnx,pciebar2axibar-xdma = <0x0>;
			xlnx,sim-model;
			xlnx,bar-indicator = "BAR_0";
			xlnx,gtwiz-in-core = <1>;
			xlnx,pf0-sriov-bar2-size = <4>;
			xlnx,pf3-sriov-bar0-enabled;
			xlnx,pf3-sriov-bar2-control = <0x0>;
			xlnx,pcie-blk-type = <1>;
			xlnx,vu9p-board;
			xlnx,pf2-addr-mask = <0x0>;
			xlnx,dma-en = <0>;
			xlnx,bar4-indicator = <0>;
			xlnx,pf0-bar5-type-qdma = "AXI_Bridge_Master";
			xlnx,pf0-msix-cap-table-bir = "BAR_0";
			xlnx,pf0-vc-cap-enabled;
			xlnx,pf2-bar5-control = <0x0>;
			xlnx,pf3-interrupt-pin = <001>;
			xlnx,pf1-msix-cap-table-size = <020>;
			xlnx,csr-slcr = <0x90000000>;
			xlnx,pf3-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf3-pciebar2axibar-0 = <0x0>;
			xlnx,pf3-pciebar2axibar-1 = <0x30000000>;
			xlnx,dsc-byp-mode = "NONE";
			xlnx,pf3-pciebar2axibar-2 = <0x30000000>;
			xlnx,pf3-bar2-size-qdma = <4>;
			xlnx,pf3-pciebar2axibar-3 = <0x0>;
			xlnx,pf3-pciebar2axibar-4 = <0x0>;
			xlnx,pf0-bar2-aperture-size = <0x0>;
			xlnx,pf3-pciebar2axibar-5 = <0x0>;
			xlnx,pf3-pciebar2axibar-6 = <0000000000000000000000000000000000000000000000000000000000000000>;
			xlnx,pf1-bar5-control = <0x0>;
			xlnx,pf2-sriov-bar0-control = <0x0>;
			xlnx,pf3-bar2-aperture-size = <00000000>;
			xlnx,pciebar2axibar-0 = <0x0>;
			xlnx,pciebar2axibar-1 = <0x0>;
			xlnx,pciebar2axibar-2 = <0x0>;
			xlnx,pciebar2axibar-3 = <0x0>;
			xlnx,pciebar2axibar-4 = <0x0>;
			xlnx,pf3-device-id = <0xb3b4>;
			xlnx,pciebar2axibar-5 = <0x0>;
			xlnx,pciebar2axibar-6 = <0000000000000000000000000000000000000000000000000000000000000000>;
			xlnx,pf0-sriov-bar2-prefetchable;
			xlnx,xdma-axist-bypass;
			xlnx,xdma-rnum-rids = <32>;
			xlnx,pf0-bar5-control = <0x0>;
			xlnx,pf3-msix-cap-table-size-qdma = <000>;
			xlnx,en-axi-slave-if;
			xlnx,pf2-bar0-size-qdma = <2>;
			xlnx,pf3-class-code-qdma = "060A00";
			xlnx,sriov-first-vf-offset = <1>;
			xlnx,pf0-bar5-index = <7>;
			xlnx,h2c-num-chnl = <4>;
			xlnx,dma-mm = <0>;
			xlnx,axi-addr-width = <64>;
			xlnx,s-axi-num-read = <8>;
			xlnx,egw-is-parent-ip = <1>;
			xlnx,async-clk-enable;
			xlnx,pf0-bar4-index = <7>;
			xlnx,comp-timeout = <1>;
			xlnx,xdma-control = <0x4>;
			xlnx,rx-detect = <0>;
			xlnx,pf0-sriov-bar0-prefetchable;
			xlnx,pf3-bar0-type-qdma = "AXI_Bridge_Master";
			xlnx,pf3-sriov-first-vf-offset = <10>;
			xlnx,pf1-bar5-index = <7>;
			xlnx,use-standard-interfaces;
			xlnx,pf2-bar5-aperture-size = <00000000>;
			xlnx,en-axi-st-qdma;
			xlnx,pf3-sriov-bar4-type = "AXI_Bridge_Master";
			xlnx,pcie-id-if;
			xlnx,pf0-bar3-index = <7>;
			xlnx,pf0-sub-class-interface-menu-qdma = "PCI_to_PCI_bridge";
			xlnx,pf3-sriov-bar1-type = "AXI_Bridge_Master";
			xlnx,pf2-sriov-bar5-control = <0x0>;
			xlnx,enable-pcie-debug-ports;
			xlnx,func-mode = <0>;
			xlnx,num-of-bars = <0x2>;
			xlnx,pf2-bar0-aperture-size = <00000000>;
			reg-names = "cfg" , "breg";
			xlnx,xlnx-ref-board = "VCK190";
			xlnx,dma-reset-source-sel = <0>;
			#interrupt-cells = <1>;
			xlnx,pf1-bar4-index = <7>;
			xlnx,pl-link-cap-max-link-width = <4>;
			xlnx,pf1-expansion-rom-type-qdma = "Expansion_ROM";
			xlnx,pf2-msix-cap-table-size-qdma = <000>;
			xlnx,vcu118-board;
			xlnx,pf0-sriov-vf-device-id = "C034";
			xlnx,pf0-bar2-index = <7>;
			xlnx,pf1-addr-mask = <0x0>;
			xlnx,bar3-indicator = <0>;
			xlnx,silicon-rev = "Pre-Production";
			xlnx,mhost-en;
			xlnx,pf0-bar4-type-qdma = "AXI_Bridge_Master";
			xlnx,pf2-bar5-index = <7>;
			xlnx,xdma-wnum-rids = <32>;
			xlnx,cmp-err-reg-0 = <2>;
			xlnx,cmp-err-reg-1 = <0>;
			xlnx,pf0-pciebar2axibar-0 = <0x0>;
			xlnx,cmp-err-reg-2 = <0>;
			xlnx,pf0-pciebar2axibar-1 = <0x0>;
			xlnx,pf3-sriov-vf-device-id = "C344";
			xlnx,cmp-err-reg-3 = <0>;
			xlnx,pf0-pciebar2axibar-2 = <0x0>;
			xlnx,pf1-bar3-index = <7>;
			xlnx,cmp-err-reg-4 = <0>;
			xlnx,pf0-pciebar2axibar-3 = <0x0>;
			xlnx,cmp-err-reg-5 = <0>;
			xlnx,pf0-pciebar2axibar-4 = <0x0>;
			xlnx,pf1-sriov-bar5-scale = "Kilobytes";
			xlnx,cmp-err-reg-6 = <0>;
			xlnx,pf0-pciebar2axibar-5 = <0x0>;
			xlnx,cmp-err-reg-7 = <0>;
			xlnx,pf0-pciebar2axibar-6 = <0x0>;
			xlnx,pf0-bar1-index = <7>;
			xlnx,pf1-rbar-cap-bar0 = <0xfff0>;
			xlnx,pf1-rbar-cap-bar1 = <0x0>;
			xlnx,pf1-rbar-cap-bar2 = <0x0>;
			xlnx,pf1-rbar-cap-bar3 = <0x0>;
			xlnx,pf1-rbar-cap-bar4 = <0x0>;
			xlnx,pf1-rbar-cap-bar5 = <0x0>;
			xlnx,pf2-bar4-index = <7>;
			xlnx,pf3-bar1-size-qdma = <128>;
			xlnx,dma-st = <0>;
			xlnx,pf2-sriov-bar5-type = "AXI_Bridge_Master";
			xlnx,pf3-expansion-rom-size-qdma = <4>;
			xlnx,pf1-bar2-index = <7>;
			xlnx,tl-pf-enable-reg = <1>;
			xlnx,pf1-sriov-bar3-control = <0x0>;
			xlnx,pf1-sriov-bar4-scale = "Kilobytes";
			xlnx,pf2-sriov-bar2-type = "AXI_Lite_Master";
			xlnx,pf0-bar0-index = <0>;
			xlnx,pf3-bar5-index = <7>;
			xlnx,xdma-axi-intf-mm = <1>;
			xlnx,copy-pf0;
			xlnx,rq-seq-num-ignore = <0>;
			xlnx,axisten-freq = <250>;
			xlnx,enable-code = <0000>;
			xlnx,pf2-bar3-index = <7>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,cfg-space-enable;
			xlnx,gen4-eieos-0s7;
			xlnx,pf1-bar1-index = <7>;
			xlnx,pf2-device-id = <0xb2b4>;
			xlnx,vendor-id = "10EE";
			xlnx,pf0-vf-bar2-aperture-size = <00000000>;
			xlnx,axilite-master-size = <1>;
			xlnx,gt-available = "GTY_QUAD_X1Y0,GTY_QUAD_X1Y1,GTY_QUAD_X1Y2,GTY_QUAD_X1Y3,GTY_QUAD_X1Y4,GTY_QUAD_X1Y5,GTY_QUAD_X1Y6";
			xlnx,pf1-sriov-bar3-scale = "Kilobytes";
			xlnx,port-type = <0x1>;
			xlnx,pf1-vf-bar5-aperture-size = <00000000>;
			xlnx,pf3-bar4-index = <7>;
			xlnx,pf0-bar5-size-qdma = <128>;
			xlnx,pf1-bar3-aperture-size = <00000000>;
			xlnx,pf2-bar2-index = <7>;
			xlnx,pf1-msix-cap-table-size-qdma = <000>;
			xlnx,pf1-sriov-supported-page-size = <00000553>;
			xlnx,pf3-sriov-cap-ver = <1>;
			xlnx,pf1-bar0-index = <0>;
			xlnx,pf1-bar0-scale-qdma = "Gigabytes";
			xlnx,pf1-vf-bar0-aperture-size = <00000000>;
			xlnx,pf1-sriov-bar2-scale = "Kilobytes";
			xlnx,pf3-rbar-num = <1>;
			xlnx,pf2-vf-bar3-aperture-size = <00000000>;
			xlnx,pf3-bar3-index = <7>;
			xlnx,dma-mode-en;
			xlnx,pf3-bar4-control = <0x0>;
			xlnx,pf3-vf-bar6-aperture-size = <0x0>;
			xlnx,pf0-sriov-bar1-control = <0x0>;
			xlnx,pf2-bar1-index = <7>;
			xlnx,pf1-sriov-bar3-type = "AXI_Bridge_Master";
			xlnx,xdma-non-incremental-exdes;
			xlnx,type1-prefetchable-membase-memlimit = "Disabled";
			xlnx,axilite-master-control = <0x0>;
			xlnx,pf1-sriov-bar1-scale = "Kilobytes";
			xlnx,versal-part-type = "SXX";
			xlnx,pf1-sriov-bar0-type = "AXI_Bridge_Master";
			xlnx,pf0-class-code-qdma = <060400>;
			xlnx,pf3-msix-cap-table-offset-qdma = <30000>;
			xlnx,pf3-vf-bar1-aperture-size = <00000000>;
			xlnx,enable-auto-rxeq;
			xlnx,cfg-ext-if;
			compatible = "xlnx,qdma-5.0" , "xlnx,qdma-host-3.00";
			xlnx,pf3-bar2-index = <7>;
			xlnx,pf3-sriov-bar1-control = <0x0>;
			xlnx,pf1-bar5-type-qdma = "AXI_Bridge_Master";
			xlnx,pf0-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf1-bar1-scale-qdma = "Megabytes";
			xlnx,pf2-bar0-index = <0>;
			device_type = "pci";
			xlnx,pl-disable-lane-reversal;
			xlnx,pf2-bar4-control = <0x0>;
			xlnx,axist-bypass-scale = "Megabytes";
			xlnx,pf3-sriov-supported-page-size = <00000553>;
			xlnx,pf1-sriov-bar0-scale = "Kilobytes";
			xlnx,pf0-msix-cap-pba-bir = "BAR_0";
			xlnx,flr-enable;
			xlnx,pf3-bar1-index = <7>;
			xlnx,multq-en = <0>;
			xlnx,pf3-sriov-bar2-64bit;
			xlnx,pf0-rbar-num = <1>;
			xlnx,pf3-sriov-bar4-size = <4>;
			xlnx,mdma-pfch-cache-depth = <16>;
			xlnx,testname = "mm_st";
			xlnx,pf3-sriov-bar1-size = <4>;
			xlnx,pf2-interrupt-pin = <001>;
			xlnx,pf1-bar2-scale-qdma = "Kilobytes";
			xlnx,pf3-bar0-index = <0>;
			xlnx,pf2-sriov-cap-initial-vf = <4>;
			xlnx,m-axi-num-read = <8>;
			xlnx,pf0-msix-cap-table-size-qdma = <000>;
			xlnx,pf0-bar6-aperture-size = <0x0>;
			xlnx,pf0-sriov-bar4-type = "AXI_Bridge_Master";
			xlnx,pf1-bar4-control = <0x0>;
			xlnx,metering-on = <1>;
			xlnx,pf3-base-class-menu-qdma = "Bridge_device";
			xlnx,pf0-addr-mask = <0x0>;
			xlnx,pf1-bar0-64bit-qdma;
			xlnx,xdma-axilite-master;
			xlnx,mailbox-enable;
			xlnx,pf0-sriov-bar1-type = "AXI_Bridge_Master";
			xlnx,bar2-indicator = <0>;
			xlnx,pf0-bar3-type-qdma = "AXI_Bridge_Master";
			interrupt-map-mask = < 0 0 0 7 >;
			xlnx,axisten-if-msix-rx-parity-en;
			xlnx,pf2-class-code-base-qdma = <06>;
			xlnx,pf0-bar1-aperture-size = <0x0>;
			xlnx,pf3-bar6-aperture-size = <00000000>;
			xlnx,pf3-sriov-bar0-64bit;
			xlnx,pf0-msix-cap-table-offset-qdma = <30000>;
			xlnx,pf1-bar3-scale-qdma = "Kilobytes";
			xlnx,pf3-bar1-aperture-size = <00000000>;
			xlnx,enable-gen4;
			xlnx,pf0-bar4-control = <0x0>;
			xlnx,pf2-bar0-enabled-qdma;
			xlnx,pf3-bar0-size-qdma = <2>;
			xlnx,pf0-revision-id = <0x0>;
			xlnx,pf2-sriov-bar5-size = <4>;
			xlnx,s-axi-id-width = <4>;
			xlnx,msix-enabled;
			xlnx,pf2-sriov-bar2-size = <4>;
			xlnx,xlnx-ddr-ex;
			xlnx,enable-ccix;
			xlnx,last-core-cap-addr = <0x1f0>;
			xlnx,pf1-expansion-rom-size-qdma = <4>;
			xlnx,mult-pf-des;
			xlnx,pf1-device-id = <0x913f>;
			xlnx,pll-type = <1>;
			xlnx,timeout0-sel = <0xe>;
			xlnx,pf0-sriov-first-vf-offset = <1>;
			xlnx,lane-order = "Bottom";
			xlnx,pf1-bar4-scale-qdma = "Kilobytes";
			xlnx,soft-nic;
			xlnx,barlite-ext-pf0 = <000000>;
			xlnx,pf0-bar4-size-qdma = <128>;
			xlnx,barlite-ext-pf1 = <000000>;
			xlnx,barlite-ext-pf2 = <000000>;
			xlnx,barlite-ext-pf3 = <000000>;
			xlnx,pf3-enabled = <0>;
			xlnx,vfg1-msix-cap-table-offset-qdma = <4000>;
			xlnx,enable-error-injection;
			xlnx,debug-mode = "DEBUG_NONE";
			xlnx,gt-selected = "GTY_QUAD_X1Y4,GTY_QUAD_X1Y5";
			xlnx,pf1-bar5-scale-qdma = "Kilobytes";
			xlnx,pf1-sriov-bar3-size = <4>;
			xlnx,pf2-sriov-bar2-enabled;
			xlnx,pf2-sriov-bar4-control = <0x0>;
			xlnx,mcap-enablement = "NONE";
			xlnx,pf1-sriov-bar0-size = <4>;
			xlnx,csr-module = <1>;
			xlnx,pf2-bar4-aperture-size = <00000000>;
			xlnx,pf1-bar4-type-qdma = "AXI_Bridge_Master";
			xlnx,vf-barlite-ext-pf0 = <000000>;
			xlnx,vf-barlite-ext-pf1 = <000000>;
			xlnx,vf-barlite-ext-pf2 = <000000>;
			xlnx,vf-barlite-ext-pf3 = <000000>;
			xlnx,pf0-sriov-bar2-64bit;
			xlnx,pf3-msix-vectors = <0>;
			xlnx,versal-part-type-hxx = "SXX";
			xlnx,msi-x-options = "None";
			xlnx,pf2-bar0-prefetchable-qdma;
			xlnx,copy-sriov-pf0;
			xlnx,rx-ppm-offset = <0>;
			xlnx,axisten-if-enable-msg-route-override;
			xlnx,axibar-highaddr-0 = <0xbfffffff>;
			xlnx,versal;
			xlnx,axibar-highaddr-1 = <0x0>;
			xlnx,axibar-highaddr-2 = <0x0>;
			xlnx,axibar-highaddr-3 = <0x0>;
			xlnx,axibar-highaddr-4 = <0x0>;
			xlnx,vfg3-msix-cap-pba-offset-qdma = <4800>;
			xlnx,name = "qdma_1";
			xlnx,axibar-highaddr-5 = <0x0>;
			xlnx,pf1-sriov-bar0-enabled;
			xlnx,pf1-sriov-bar2-control = <0x0>;
			xlnx,pf2-msix-vectors = <0>;
			xlnx,pf0-bar0-prefetchable-qdma;
			xlnx,pf0-sriov-bar4-size = <4>;
			xlnx,pf0-rbar-cap-bar0 = <0xfff0>;
			xlnx,h2c-xdma-chnl = <0xf>;
			xlnx,pf0-rbar-cap-bar1 = <0x0>;
			xlnx,pf0-sriov-bar0-64bit;
			xlnx,pf0-rbar-cap-bar2 = <0x0>;
			xlnx,bar1-indicator = <0>;
			xlnx,pf0-rbar-cap-bar3 = <0x0>;
			xlnx,pf0-bar2-type-qdma = "AXI_Lite_Master";
			xlnx,pf0-rbar-cap-bar4 = <0x0>;
			xlnx,pf0-sriov-bar1-size = <4>;
			xlnx,enable-clock-delay-grp;
			xlnx,pf0-rbar-cap-bar5 = <0x0>;
			xlnx,c2h-stream-cpl-err-bit-pos0 = <2>;
			xlnx,c2h-stream-cpl-err-bit-pos1 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos2 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos3 = <0>;
			xlnx,pf1-bar5-size-qdma = <128>;
			xlnx,c2h-stream-cpl-err-bit-pos4 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos5 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos6 = <0>;
			xlnx,c2h-stream-cpl-err-bit-pos7 = <0>;
			xlnx,vfg2-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf0-vf-bar6-aperture-size = <0x0>;
			xlnx,pf1-msix-cap-table-bir = "BAR_0";
			xlnx,pf1-msix-vectors = <1>;
			xlnx,pf0-base-class-menu-qdma = "Bridge_device";
			xlnx,axibar-notranslate = <0>;
			xlnx,pf0-vf-bar1-aperture-size = <00000000>;
			xlnx,enable-pcie-debug-axi4-st;
			xlnx,xdma-st-infinite-desc-exdes;
			xlnx,pf1-vf-bar4-aperture-size = <00000000>;
			xlnx,pf3-bar3-control = <0x0>;
			xlnx,pf0-sriov-bar0-control = <0x7>;
			xlnx,pf3-sriov-bar2-prefetchable;
			xlnx,pf1-bar2-aperture-size = <00000000>;
			xlnx,user-clk-freq = <2>;
			xlnx,shell-bridge = <0>;
			xlnx,pf3-sub-class-interface-menu-qdma = "InfiniBand_to_PCI_host_bridge";
			xlnx,pf2-sriov-cap-ver = <1>;
			xlnx,vfg1-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf0-device-id = <0xb0b4>;
			xlnx,pf2-bar5-type-qdma = "AXI_Bridge_Master";
			xlnx,pf0-msix-vectors = <1>;
			xlnx,pf3-sriov-bar0-control = <0x0>;
			xlnx,pf2-vf-bar2-aperture-size = <00000000>;
			xlnx,xdma-rnum-chnl = <4>;
			xlnx,pf0-bar3-size-qdma = <128>;
			xlnx,all-speeds-all-sides;
			xlnx,pf3-vf-bar5-aperture-size = <00000000>;
			xlnx,vfg2-msix-cap-pba-offset-qdma = <4800>;
			xlnx,mode-selection = "Advanced";
			xlnx,pf2-bar3-control = <0x0>;
			xlnx,pf2-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,enable-more;
			xlnx,pf3-vf-bar0-aperture-size = <00000000>;
			xlnx,pf2-pciebar2axibar-0 = <0x0>;
			xlnx,pf2-pciebar2axibar-1 = <0x20000000>;
			xlnx,tandem-rfsoc;
			xlnx,gt-loc-num = "X99Y99";
			xlnx,pf2-pciebar2axibar-2 = <0x20000000>;
			xlnx,pf2-pciebar2axibar-3 = <0x0>;
			xlnx,is-board-project = <1>;
			xlnx,pf2-pciebar2axibar-4 = <0x0>;
			xlnx,pf3-sriov-bar5-scale = "Kilobytes";
			xlnx,pf2-pciebar2axibar-5 = <0x0>;
			xlnx,pf2-pciebar2axibar-6 = <0000000000000000000000000000000000000000000000000000000000000000>;
			xlnx,pcie-pfs-supported = <1>;
			xlnx,pipe-line-stage = <2>;
			xlnx,pciebar2axibar-axist-bypass = <0x0>;
			xlnx,pf1-bar3-control = <0x0>;
			xlnx,pf1-bar3-type-qdma = "AXI_Bridge_Master";
			xlnx,wrb-coal-max-buf = <16>;
			xlnx,pl-link-cap-max-link-speed = <8>;
			xlnx,pf3-sriov-bar4-scale = "Kilobytes";
			xlnx,pf3-sriov-bar0-prefetchable;
			xlnx,pcie-blk-locn = <8>;
			xlnx,pf2-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf1-interrupt-pin = <001>;
			xlnx,pf0-vf-pciebar2axibar-0 = <0x0>;
			xlnx,pf3-bar0-scale-qdma = "Gigabytes";
			xlnx,pf0-vf-pciebar2axibar-1 = <0x40000000>;
			xlnx,pf0-bar5-aperture-size = <0x0>;
			xlnx,pf0-vf-pciebar2axibar-2 = <0x40000000>;
			xlnx,pf0-vf-pciebar2axibar-3 = <0x0>;
			xlnx,pf3-sriov-bar3-scale = "Kilobytes";
			xlnx,pf0-vf-pciebar2axibar-4 = <0x0>;
			xlnx,pf0-link-status-slot-clock-config;
			xlnx,pf0-vf-pciebar2axibar-5 = <0x0>;
			xlnx,msix-pcie-internal = <0>;
			xlnx,pf0-bar3-control = <0x0>;
			xlnx,enable-ibert;
			xlnx,pf0-sriov-bar5-control = <0x0>;
			xlnx,functional-mode = "AXI_Bridge";
			xlnx,pf0-bar0-aperture-size = <0x1d>;
			xlnx,pf3-bar5-aperture-size = <00000000>;
			xlnx,pf3-sriov-bar3-type = "AXI_Bridge_Master";
			xlnx,disable-bram-pipeline;
			xlnx,vfg1-msix-cap-pba-offset-qdma = <4800>;
			xlnx,pf3-subsystem-id = <0x7>;
			interrupt-names = "misc" , "msi0" , "msi1";
			xlnx,data-mover;
			xlnx,pf3-sriov-bar0-type = "AXI_Bridge_Master";
			xlnx,pf3-sriov-bar2-scale = "Kilobytes";
			xlnx,pf2-class-code-qdma = "060A00";
			xlnx,gtwiz-in-core-us = <1>;
			xlnx,enable-at-ports;
			xlnx,pf3-sriov-bar5-control = <0x0>;
			xlnx,bar0-indicator = <1>;
			xlnx,xdma-wnum-chnl = <4>;
			xlnx,pf0-bar1-type-qdma = "AXI_Bridge_Master";
			xlnx,pf1-class-code-interface-qdma = <00>;
			xlnx,pf3-bar0-aperture-size = <00000000>;
			xlnx,pf3-bar1-scale-qdma = "Megabytes";
			xlnx,ccix-enable;
			xlnx,pf1-bar4-size-qdma = <128>;
			xlnx,pf1-sriov-vf-device-id = "C144";
			xlnx,pf1-vf-pciebar2axibar-0 = <0x0>;
			xlnx,pf3-sriov-bar1-scale = "Kilobytes";
			xlnx,pf1-vf-pciebar2axibar-1 = <0x50000000>;
			xlnx,pf1-vf-pciebar2axibar-2 = <0x50000000>;
			xlnx,pf1-vf-pciebar2axibar-3 = <0x0>;
			xlnx,pf1-vf-pciebar2axibar-4 = <0x0>;
			xlnx,pf1-vf-pciebar2axibar-5 = <0x0>;
			xlnx,pf2-subsystem-id = <0x7>;
			xlnx,pf2-enabled = <0>;
			xlnx,pf3-expansion-rom-scale-qdma = "Kilobytes";
			xlnx,pf1-revision-id = <0x0>;
			xlnx,parity-prop = <0>;
			xlnx,ultrascale;
			xlnx,pf3-sriov-bar0-scale = "Kilobytes";
			xlnx,vfg0-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf3-bar2-scale-qdma = "Kilobytes";
			xlnx,pf2-sriov-bar4-type = "AXI_Bridge_Master";
			xlnx,pf3-bar0-64bit-qdma;
			xlnx,pf2-sriov-bar1-type = "AXI_Bridge_Master";
			xlnx,pf3-class-code-interface-qdma = <00>;
			xlnx,pf2-sriov-bar3-control = <0x0>;
			xlnx,old-bridge-timeout = <0>;
			xlnx,pf1-subsystem-id = <0x7>;
			xlnx,pf2-bar4-type-qdma = "AXI_Bridge_Master";
			xlnx,pf0-bar2-size-qdma = <4>;
			xlnx,pf2-sriov-first-vf-offset = <7>;
			xlnx,pf2-vf-pciebar2axibar-0 = <0x0>;
			xlnx,pf2-vf-pciebar2axibar-1 = <0x60000000>;
			xlnx,en-debug-ports;
			xlnx,pf2-vf-pciebar2axibar-2 = <0x60000000>;
			xlnx,ext-sys-clk-bufg;
			xlnx,pf1-sriov-bar2-prefetchable;
			xlnx,pf2-vf-pciebar2axibar-3 = <0x0>;
			xlnx,vfg0-msix-cap-pba-offset-qdma = <4800>;
			xlnx,rable = <0>;
			xlnx,axilite-master-aperture-size = <0x0>;
			xlnx,pf2-vf-pciebar2axibar-4 = <0x0>;
			xlnx,ip-name = "qdma";
			xlnx,pf2-vf-pciebar2axibar-5 = <0x0>;
			xlnx,bridge-burst;
			xlnx,pf0-sriov-bar5-scale = "Kilobytes";
			xlnx,pciebar2axibar-axil-master = <0x0>;
			xlnx,pf3-bar3-scale-qdma = "Kilobytes";
			xlnx,pf2-bar3-aperture-size = <00000000>;
			xlnx,pf0-subsystem-id = <0x7>;
			interrupt-parent = <&imux>;
			xlnx,phy-lp-txpreset = <4>;
			xlnx,pf0-sriov-bar4-scale = "Kilobytes";
			xlnx,pf3-sriov-cap-initial-vf = <4>;
			xlnx,pf0-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf1-sriov-bar5-type = "AXI_Bridge_Master";
			xlnx,xdma-scale = "Megabytes";
			xlnx,pf1-sriov-bar1-control = <0x0>;
			xlnx,pf1-bar2-type-qdma = "AXI_Lite_Master";
			xlnx,pf1-sriov-bar2-type = "AXI_Lite_Master";
			xlnx,pf2-expansion-rom-scale-qdma = "Kilobytes";
			xlnx,pf3-vf-pciebar2axibar-0 = <0x0>;
			xlnx,pf3-vf-pciebar2axibar-1 = <0x70000000>;
			xlnx,gtcom-in-core = <2>;
			xlnx,pf3-bar4-scale-qdma = "Kilobytes";
			xlnx,pf3-class-code-base-qdma = <06>;
			xlnx,pf3-vf-pciebar2axibar-2 = <0x70000000>;
			xlnx,num-of-sc = <1>;
			xlnx,pf3-vf-pciebar2axibar-3 = <0x0>;
			xlnx,pf3-vf-pciebar2axibar-4 = <0x0>;
			xlnx,pf2-bar5-size-qdma = <128>;
			xlnx,pf3-vf-pciebar2axibar-5 = <0x0>;
			xlnx,pf0-sriov-bar3-scale = "Kilobytes";
			clocks = <&misc_clk_0>;
			xlnx,pf1-sub-class-interface-menu-qdma = "InfiniBand_to_PCI_host_bridge";
			xlnx,pf3-vf-addr-mask = <0xfff>;
			xlnx,sys-reset-polarity = <0>;
			xlnx,pf1-rbar-num = <1>;
			xlnx,en-axi-mm-qdma;
			xlnx,pf1-sriov-bar0-prefetchable;
			xlnx,pf0-sriov-bar2-scale = "Kilobytes";
			xlnx,pf2-msix-cap-table-offset-qdma = <30000>;
			xlnx,pf1-bar0-enabled-qdma;
			xlnx,barlite1 = <0>;
			xlnx,barlite2 = <7>;
			xlnx,pf0-bar0-scale-qdma = "Gigabytes";
			xlnx,pf3-bar5-scale-qdma = "Kilobytes";
			xlnx,xdma-sts-ports;
			xlnx,pf3-sriov-bar3-size = <4>;
			xlnx,s-axi-num-write = <8>;
			xlnx,pf2-vf-addr-mask = <0xfff>;
			xlnx,pf0-vf-bar5-aperture-size = <00000000>;
			xlnx,pf3-bar2-control = <0x0>;
			xlnx,pf3-sriov-bar0-size = <4>;
			xlnx,pf2-expansion-rom-type-qdma = "Expansion_ROM";
			xlnx,pf0-sriov-bar1-scale = "Kilobytes";
			xlnx,pf0-bar0-type-qdma = "AXI_Bridge_Master";
			xlnx,pf3-bar5-type-qdma = "AXI_Bridge_Master";
			#size-cells = <2>;
			xlnx,adv-int-usr;
			xlnx,pf0-sriov-bar3-type = "AXI_Bridge_Master";
			xlnx,c2h-num-chnl = <4>;
			xlnx,pf1-bar3-size-qdma = <128>;
			xlnx,pf1-bar6-aperture-size = <00000000>;
			xlnx,en-gt-selection;
			xlnx,barlite-int-pf0 = <0x0>;
			xlnx,pf0-vf-bar0-aperture-size = <00000000>;
			xlnx,tl-credits-cd = <15>;
			xlnx,barlite-int-pf1 = <0x0>;
			xlnx,pf0-sriov-bar0-type = "AXI_Bridge_Master";
			xlnx,barlite-int-pf2 = <0x0>;
			xlnx,barlite-int-pf3 = <0x0>;
			xlnx,disable-user-clock-root;
			xlnx,pf1-vf-bar3-aperture-size = <00000000>;
			xlnx,tl-credits-ch = <15>;
			xlnx,pf0-sriov-bar0-scale = "Kilobytes";
			xlnx,pf0-bar1-scale-qdma = "Megabytes";
			xlnx,pf2-vf-bar6-aperture-size = <0x0>;
			xlnx,pf1-bar1-aperture-size = <00000000>;
			xlnx,pf1-expansion-rom-scale-qdma = "Kilobytes";
			xlnx,pf1-vf-addr-mask = <0xfff>;
			ranges = <0x02000000 0x00000000 0x00000000 0x0 0xB0000000 0x00000000 0x10000000>;
			xlnx,pf1-sriov-cap-ver = <1>;
			xlnx,pf2-bar2-control = <0x0>;
			xlnx,pf2-sriov-bar2-64bit;
			xlnx,vfg3-msix-cap-table-offset-qdma = <4000>;
			xlnx,xdma-num-usr-irq = <16>;
			xlnx,pf2-vf-bar1-aperture-size = <00000000>;
			xlnx,plltype = "QPLL0";
			xlnx,vsec-cap-addr = <0xe00>;
			xlnx,pf3-vf-bar4-aperture-size = <00000000>;
			xlnx,pf2-sriov-bar4-size = <4>;
			xlnx,usr-irq-xdma-type-interface;
			xlnx,pf1-msix-cap-table-offset = <00010040>;
			xlnx,c2h-stream-cpl-data-size = <0>;
			xlnx,en-qdma;
			xlnx,pf2-sriov-bar1-size = <4>;
			xlnx,dsc-bypass-rd = <0>;
			xlnx,axisten-if-enable-msg-route = <0x2007f>;
			xlnx,pf2-bar3-type-qdma = "AXI_Bridge_Master";
			xlnx,pf1-msix-enabled;
			xlnx,vfg3-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,vf-barlite-int-pf0 = <000000>;
			xlnx,pf0-bar2-scale-qdma = "Kilobytes";
			xlnx,vf-barlite-int-pf1 = <000000>;
			xlnx,pf0-vf-addr-mask = <0xfff>;
			xlnx,vf-barlite-int-pf2 = <000000>;
			xlnx,dma-completion = <0>;
			xlnx,msix-preset = <0>;
			xlnx,pf0-bar1-size-qdma = <128>;
			xlnx,pf1-bar2-control = <0x0>;
			xlnx,vf-barlite-int-pf3 = <000000>;
			xlnx,enable-64bit;
			xlnx,pf0-bar0-64bit-qdma;
			xlnx,vu9p-tul-ex;
			xlnx,pf2-sriov-bar0-64bit;
			xlnx,virtio-en;
			xlnx,type1-membase-memlimit-enable = "Disabled";
			xlnx,dsc-bypass-rd-out = <0>;
			xlnx,enable-dvsec;
			xlnx,acs-ext-cap-enable;
			xlnx,en-transceiver-status-ports;
			xlnx,rp-msi-enabled;
			xlnx,pf0-bar2-control = <0x0>;
			xlnx,pf0-bar3-scale-qdma = "Kilobytes";
			xlnx,pf0-sriov-bar2-enabled;
			xlnx,pf0-sriov-bar4-control = <0x0>;
			#address-cells = <3>;
			xlnx,pf0-interrupt-pin = <0x1>;
			xlnx,pr-cap-nextptr = <0x0>;
			xlnx,pf3-vendor-id = <0x10ee>;
			xlnx,axist-bypass-control = <0x0>;
			xlnx,pf1-sriov-bar5-size = <4>;
			xlnx,pf0-expansion-rom-scale-qdma = "Kilobytes";
			xlnx,pf0-bar4-aperture-size = <0x0>;
			xlnx,pf1-bar1-type-qdma = "AXI_Bridge_Master";
			xlnx,vfg0-msix-cap-table-offset-qdma = <4000>;
			xlnx,pf1-sriov-bar2-size = <4>;
			xlnx,pf3-sriov-bar2-enabled;
			xlnx,pf3-sriov-bar4-control = <0x0>;
			xlnx,pf2-bar4-size-qdma = <128>;
			xlnx,en-axi-master-if;
			xlnx,dsc-bypass-wr-out = <0>;
			xlnx,pf3-bar4-aperture-size = <00000000>;
			xlnx,pf0-sriov-cap-initial-vf = <4>;
			xlnx,dsc-bypass-rd-csr = <0>;
			xlnx,pf0-bar4-scale-qdma = "Kilobytes";
			xlnx,pf1-base-class-menu-qdma = "Bridge_device";
			xlnx,dsc-bypass-wr = <0>;
			xlnx,pf1-enabled = <0>;
			xlnx,pf0-class-code-base-qdma = <06>;
			xlnx,rq-rcfg-en;
			xlnx,pf0-sriov-supported-page-size = <00000553>;
			xlnx,drp-clk-sel = <0>;
			xlnx,ins-loss-profile = "Add-in_Card";
			xlnx,alf-cap-enable;
			xlnx,pf3-bar4-type-qdma = "AXI_Bridge_Master";
			xlnx,xdma-size = <1>;
			xlnx,pf0-bar5-scale-qdma = "Kilobytes";
			xlnx,pf2-sriov-bar0-enabled;
			xlnx,pf2-sriov-bar2-control = <0x0>;
			xlnx,pf0-sriov-bar3-size = <4>;
			xlnx,pf1-bar2-size-qdma = <4>;
			xlnx,dsc-bypass-wr-csr = <0>;
			xlnx,max-num-queue = <512>;
			xlnx,pf0-sriov-bar0-size = <4>;
			xlnx,dma-intf-sel-qdma = "AXI_MM_and_AXI_Stream_with_Completion";
			xlnx,timeout1-sel = <0xf>;
			xlnx,axi-aclk-loopback;
			xlnx,pf0-expansion-rom-type-qdma = "Expansion_ROM";
			xlnx,enable-ats-switch;
			xlnx,vfg3-msix-cap-table-size-qdma = <000>;
			xlnx,pf2-sriov-supported-page-size = <00000553>;
			xlnx,pf2-revision-id = <0x0>;
			xlnx,v7-gen3;
			xlnx,c2h-stream-cpl-col-bit-pos0 = <1>;
			xlnx,pf0-class-code-sub-qdma = <04>;
			xlnx,c2h-stream-cpl-col-bit-pos1 = <0>;
			xlnx,c2h-stream-cpl-col-bit-pos2 = <0>;
			xlnx,c2h-stream-cpl-col-bit-pos3 = <0>;
			xlnx,c2h-stream-cpl-col-bit-pos4 = <0>;
			xlnx,gtwiz-in-core-usp = <1>;
			xlnx,c2h-stream-cpl-col-bit-pos5 = <0>;
			xlnx,c2h-xdma-chnl = <0xf>;
			xlnx,c2h-stream-cpl-col-bit-pos6 = <0>;
			xlnx,c2h-stream-cpl-col-bit-pos7 = <0>;
			xlnx,master-cal-only;
			xlnx,pf2-bar2-type-qdma = "AXI_Lite_Master";
			xlnx,pipe-sim;
			xlnx,pf2-expansion-rom-size-qdma = <4>;
			xlnx,xdma-axilite-slave;
			xlnx,pf1-sriov-bar0-control = <0x0>;
			xlnx,dev-port-type = <2>;
			xlnx,pf0-bar0-size-qdma = <2>;
			xlnx,pf3-bar5-size-qdma = <128>;
			xlnx,msi-enabled;
			xlnx,pf2-bar2-aperture-size = <00000000>;
			xlnx,mm-slave-en = <1>;
			xlnx,pf3-msix-cap-pba-offset-qdma = <34000>;
			xlnx,ins-loss-nyq = <15>;
			xlnx,pf1-class-code-sub-qdma = "0A";
			xlnx,pf3-rbar-cap-bar0 = <0xfff0>;
			xlnx,axi-id-width = <4>;
			xlnx,pf3-rbar-cap-bar1 = <0x0>;
			xlnx,pf3-rbar-cap-bar2 = <0x0>;
			xlnx,core-clk-freq = <2>;
			xlnx,firstvf-offset-pf0 = <1>;
			xlnx,pf3-rbar-cap-bar3 = <0x0>;
			xlnx,axibar2pciebar-0 = <0x0>;
			xlnx,firstvf-offset-pf1 = <4>;
			xlnx,pf3-rbar-cap-bar4 = <0x0>;
			xlnx,axibar2pciebar-1 = <0x0>;
			xlnx,firstvf-offset-pf2 = <7>;
			xlnx,pf2-vendor-id = <0x10ee>;
			xlnx,pf3-rbar-cap-bar5 = <0x0>;
			xlnx,axibar2pciebar-2 = <0x0>;
			xlnx,firstvf-offset-pf3 = <10>;
			xlnx,axibar2pciebar-3 = <0x0>;
			xlnx,axibar2pciebar-4 = <0x0>;
			xlnx,pf1-bar0-type-qdma = "AXI_Bridge_Master";
			xlnx,vfg2-msix-cap-table-size-qdma = <000>;
			xlnx,axibar2pciebar-5 = <0x0>;
			xlnx,pf3-bar1-control = <0x0>;
			xlnx,pf2-bar3-size-qdma = <128>;
			xlnx,axist-bypass-size = <1>;
			xlnx,gtcom-in-core-usp = <2>;
			xlnx,disable-eq-synchronizer;
			xlnx,axi-data-width = <256>;
			xlnx,en-pcie-debug-ports;
			xlnx,pf0-vf-bar4-aperture-size = <00000000>;
			xlnx,pf2-class-code-sub-qdma = "0A";
			xlnx,pciebar-num = <2>;
			xlnx,pfch-cache-depth = <16>;
			xlnx,axibar-num = <1>;
			xlnx,iep-en;
			xlnx,free-run-freq = <0>;
			xlnx,pf1-pciebar2axibar-0 = <0x0>;
			xlnx,ultrascale-plus;
			xlnx,m-axi-num-write = <32>;
			xlnx,enable-pcie-debug;
			xlnx,pf1-pciebar2axibar-1 = <0x10000000>;
			xlnx,pf2-bar1-control = <0x0>;
			xlnx,pf1-pciebar2axibar-2 = <0x10000000>;
			xlnx,pf1-bar5-aperture-size = <00000000>;
			xlnx,pf1-pciebar2axibar-3 = <0x0>;
			xlnx,pf2-msix-cap-pba-offset-qdma = <34000>;
			xlnx,vfg0-msix-cap-pba-bir-qdma = "BAR_1:0";
			xlnx,pf0-msix-impl-locn = "External";
			xlnx,pf1-pciebar2axibar-4 = <0x0>;
			xlnx,pf2-sriov-bar5-scale = "Kilobytes";
			xlnx,pf1-pciebar2axibar-5 = <0x0>;
			xlnx,pf1-pciebar2axibar-6 = <0000000000000000000000000000000000000000000000000000000000000000>;
			xlnx,pf3-sriov-bar5-type = "AXI_Bridge_Master";
			xlnx,pf1-vf-bar2-aperture-size = <00000000>;
			interrupt-map = <0 0 0 1 &pcie_intc_1 0>, <0 0 0 2 &pcie_intc_1 1>, <0 0 0 3 &pcie_intc_1 2>, <0 0 0 4 &pcie_intc_1 3>;
			interrupts = < 0 87 4 0 88 4 0 89 4 >;
			xlnx,pf1-sriov-bar5-control = <0x0>;
			xlnx,pf3-sriov-bar2-type = "AXI_Lite_Master";
			xlnx,pf2-vf-bar5-aperture-size = <00000000>;
			xlnx,pf3-bar3-type-qdma = "AXI_Bridge_Master";
			xlnx,pf1-bar0-aperture-size = <00000000>;
			xlnx,ext-xvc-vsec-enable;
			xlnx,pf0-sriov-cap-ver = <1>;
			xlnx,pf1-bar1-size-qdma = <128>;
			xlnx,pf2-sriov-bar4-scale = "Kilobytes";
			xlnx,pf1-bar1-control = <0x0>;
			xlnx,pf2-vf-bar0-aperture-size = <00000000>;
			xlnx,rbar-enable;
			xlnx,pf3-class-code-sub-qdma = "0A";
			xlnx,vfg3-msix-cap-table-bir-qdma = "BAR_1:0";
			xlnx,pf3-vf-bar3-aperture-size = <00000000>;
			xlnx,vfg1-msix-cap-table-size-qdma = <000>;
			xlnx,pf2-sriov-vf-device-id = "C244";
			xlnx,pf2-sriov-bar3-scale = "Kilobytes";
			xlnx,num-vfs-pf0 = <4>;
			xlnx,pf2-bar0-scale-qdma = "Gigabytes";
			xlnx,num-vfs-pf1 = <4>;
			xlnx,num-vfs-pf2 = <4>;
			xlnx,pf0-msix-cap-pba-offset = <00000000>;
			pcie_intc_1: interrupt-controller {
				#interrupt-cells = <1>;
				#address-cells = <0>;
				interrupt-controller;
			};
		};
	};
};
